@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
//
//@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
//@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
//@include foundation-callout;
//@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
//@include foundation-flex-classes;
//@include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;


/*
======================================================================
* Index of Styles													 *
======================================================================

1.  MIXINS
2.  TYPOGRAPHIC STYLES
3.  GLOBAL SHOW AND HIDE ELEMENTS
4.  HEADER AND MENU ITEMS
5.  HOME PAGE
6.  MAIN CONTENT EXCEPT HOME PAGE
7.  COURSE PAGES LIST VIEW
8.  COURSE DETAILS PAGE
9.  TIMETABLE
10. EVENTS
11. FACULTY PAGES LIST VIEW
12. FAQ PAGE
13. CUSTOM REVEAL STYLES
14. RIGHT SIDEBARS
15. ACCORDIONS
16. FOOTER
17. EDIT BAR (ADMIN ONLY)

*/


/* --------------------------------------------------
:: 1. MIXINS
---------------------------------------------------*/


@mixin angle($pseudo, $flip: false, $angle: 6deg) {
  // Possible values for $pseudo are: before, after, both
  @if $pseudo == 'before' or $pseudo == 'after' or $pseudo == 'both' {
	//     position: relative;
    z-index: 1;
    $selector: if($pseudo == 'both', '&:before,&:after', '&:#{$pseudo}');

    #{$selector} {
      background: inherit;
      content: '';
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      -webkit-backface-visibility: hidden; // for Chrome Windows
    }

    @if $pseudo == 'before' {
      #{$selector} {
        top: 0;

        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }
    }

    @if $pseudo == 'after' {
      #{$selector} {
        bottom: 0;

        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 100%;
        } @else {
          transform: skewY($angle * -1);
          transform-origin: 100%;
        }
      }
    }

    @if $pseudo == 'both' {
      &:before {
        top: 0;

        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }

      &:after {
        bottom: 0;

        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle * -1);
          transform-origin: 100%;
        }
      }
    }
  }
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false, $off: false) {
  
  @if $off {
  	-webkit-box-shadow: none;
  	-moz-box-shadow:none;
  	box-shadow:none;
  }
  @else {
  	@if $inset {
		-webkit-box-shadow:inset $top $left $blur $color;
		-moz-box-shadow:inset $top $left $blur $color;
		box-shadow:inset $top $left $blur $color;
	} @else {
		-webkit-box-shadow: $top $left $blur $color;
		-moz-box-shadow: $top $left $blur $color;
		box-shadow: $top $left $blur $color;
	}
	}
}





/* --------------------------------------------------
:: 2. TYPOGRAPHIC STYLES
---------------------------------------------------*/

h1,h2,h3,h4,h5 {text-transform: uppercase;}

h1{
	font-size:3rem;
	line-height:3.1rem;
	font-family:"Futura W01 Bold", Arial, Helvetica, sans-serif;
}
h2{
	font-size:2.2rem;
	line-height:2.5rem;
	font-family:"Futura W01 Bold", Arial, Helvetica, sans-serif;
	color: $primary-color;
}
h2.title{
	font-size:2rem;
	line-height:2.2rem;
	font-family:"Futura W01 Bold", Arial, Helvetica, sans-serif;
}
h2.introtext{
	font-size:1.8rem;
	line-height:2rem;
	font-family:"Futura W01 Book", Arial, Helvetica, sans-serif;
}
h2.introtext--light {
  font-size: 24px;
  line-height: 105%;
  font-family:"Futura W01 Light", Arial, Helvetica, sans-serif;
}
h3{
	font-size:1.3rem;
	line-height:1.55rem;
	font-family:"Futura W01 Bold", Arial, Helvetica, sans-serif;
	letter-spacing: .05rem;
}
h4 {
	font-size:1.2rem;
	line-height:1.4rem;
	font-family:"Futura W01 Light", Arial, Helvetica, sans-serif;
}
h4.title {
	font-size:1.3rem;
	line-height:2.0rem;
	font-family:"Futura W01 Heavy", Arial, Helvetica, sans-serif;
}

p, li {
	font-size: .95rem;
	line-height: 1.35rem;
}

a {
	font-weight: normal;
}

td {
	font-size: .8rem;
	line-height: 1.2rem;
}

.subheader {
	font-family:"Futura W01 Book", Arial, Helvetica, sans-serif;
	color: $primary-color;
	font-size: 90%;
	line-height: 100%;
	display: block;
	@include breakpoint(medium down) {
		font-size: 80%;
	}
}

.introtext {
	font-family:"Futura W01 Book", Arial, Helvetica, sans-serif;
	font-size:1.3rem;
	margin-bottom: 20px;
	margin-top: 10px;
}

.edge--bottom {
  @include angle(after);
}

.edge--top {
  @include angle(before, true);
}

.big-back {
	width: 100%;
	min-height: 350px;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: -1;
	top: 80px;
	left: 0;
	background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
	
	@include breakpoint(768px down) { 
		position: relative;
		top: 0;
		min-height: 0;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
	
} 

.banner-image {
	@include breakpoint(768px) {
		display: none;
	}
}

.button {
	margin-top: 15px;
	text-transform: uppercase;
	font-family: $header-font-family;
}

/* --------------------------------------------------
:: 3. GLOBAL SHOW AND HIDE ELEMENTS
---------------------------------------------------*/

/*
.medium560 {
	@include breakpoint (550px down) {
		display: none;
	}
	@include breakpoint (768px up) {
		display: none;
	}
	.off {
		display: none;
	}
}
*/

.medium560 {
	display: none;
}

@media screen and #{breakpoint(xxsmall)} and #{breakpoint(xxmedium down)} {
  .medium560 { display: block;}
  .medium560-off {display: none;}
}


/* --------------------------------------------------
:: 4. HEADER AND MENU ITEMS
---------------------------------------------------*/


header {
	
	font-family:"Futura W01 Bold", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}


.flag {
	margin: 0px;
	z-index: 1;
	margin-top: 0px;
	background-color: $primary-color;
	display: block;
	padding-top: 20px;
	height: 125px;
	position: relative;
	vertical-align: middle;

	
	flag:after {
		background: inherit;
		bottom: 0;
		content: '';
		display: block;
		height: 50%;
		left: 0;
		position: absolute;
		right: 0;
		transform: skewY(-6deg);
		transform-origin: 100%;
		z-index: -1;
	}
	a {
		color: $white;
		text-decoration: none;
	}
}


/* FOR SMALL SCREENS WITH OFF-CANVAS */


.small-menu {
	display: none;
	font-size: .8rem;
	border-bottom: 1px solid $primary-color;
	@include breakpoint(767px down) { 
		display: block;
		@include off-canvas-reveal;
	}
	color: $primary-color;
	text-align: center;
	.menu {
		padding: 1rem 0 0 .5rem;
		a {
			color: $primary-color;
			font-family: $header-font-family;
			font-size: .8rem;
			display: block;
			padding: 0.5em 0em;
		}
	}
	
	.more-menu-link {
		padding: 1rem 0 0 0;
		display: block;
		.more-menu-text {
			display: block;
			font-family: $header-font-family;
			font-size: .8rem;
			display: block;
		}
	}
	.more {
		font-size: .8rem;
		padding: 0.5em .7em;
	}
	.more-button {
		float: right;
	}

	
	/* Coloured bar that contains logo and site title */
	
	.logo-title {
		background-color: $primary-color;
		@include grid-row;
		.logo {	
			@include grid-col;
			@include breakpoint(767px down) {
				@include grid-col-size(3);
				@include grid-column-collapse;
				padding: 1.2rem 0rem 1rem 0rem;
			}
			@include breakpoint(640px down) {
				@include grid-col-size(3);
				@include grid-column-collapse;
				padding: 1.1rem 0rem 1rem 0rem;
			}
			@include breakpoint(580px down) {
				@include grid-col-size(3);
				@include grid-column-collapse;
				padding: 1.2rem 0rem 1rem 0rem;
			}
			@include breakpoint(500px down) {
				@include grid-col-size(3);
				@include grid-column-collapse;
			}
			@include breakpoint(480px down) {
				@include grid-col-size(4);
				@include grid-column-collapse;
			}
			@include breakpoint(360px down) {
				@include grid-col-size(5);
				@include grid-column-collapse;
			}
			
			img {
				width: 95%;
				padding: 0rem .5rem 0rem 1rem;
				margin: 0;

				@include breakpoint(375px down) {
					margin-top: .2rem;
				}
				@include breakpoint(320px down) {
					margin-top: .2rem;
				}

			}
		}
		.site-title {	
			padding: 1rem 0rem 1rem 0rem;
			@include grid-col;
			@include breakpoint(767px down) {
				@include grid-col-size(9);
				@include grid-column-collapse;
			}
			@include breakpoint(640px down) {
				@include grid-col-size(9);
				@include grid-column-collapse;
			}
			@include breakpoint(500px down) {
				@include grid-col-size(9);
				@include grid-column-collapse;
			}
			@include breakpoint(480px down) {
				@include grid-col-size(8);
				@include grid-column-collapse;
			}
			@include breakpoint(360px down) {
				@include grid-col-size(7);
				@include grid-column-collapse;
				
			}

			.regent-text {
				font-family: $header-font-family;
				font-size: 1.05rem;
				line-height: 1.25rem;
				color: #fefefe;
				padding-top: 0;
				text-align: left;
				border-left: 1px solid white;
				padding: 0rem 0rem 0rem .5rem;
				margin: .2rem 0 0 0;
				@include breakpoint(580px down) {
					font-size: 1rem;
					line-height: 1.15rem;
				}
				@include breakpoint(520px down) {
					font-size: .9rem;
					line-height: 1.1rem;
				}
				@include breakpoint(480px down) {
					font-size: 1.1rem;
					line-height: 1.3rem;
				}
				@include breakpoint(420px down) {
					font-size: 1rem;
					line-height: 1.2rem;
					margin-top: 0.15rem;
				}
				@include breakpoint(375px down) {
					font-size: .95rem;
					line-height: 1.15rem;
					margin-top: .3rem;
					
				}
				@include breakpoint(360px down) {

					margin-top: .5rem;
				}
				@include breakpoint(320px down) {
					font-size: .85rem;
					line-height: 1rem;
					margin-top: .45rem;
				}
			}
		}
	}

	.menu.simple {
		a {
			padding: 0.4rem 0rem;
			font-size: 1rem;
			@include breakpoint(450px down) {
				font-size: 1.05rem;
			}
			@include breakpoint(400px down) {
				font-size: .95rem;
			}
			@include breakpoint(350px down) {
				font-size: .8rem;
			}
			&:hover {
				color: rgba($primary-color, .8);
			}
		}
	}
	button.button  {
		@include breakpoint(450px down) {
			font-size: 1rem;
		}
		@include breakpoint(400px down) {
			font-size: .95rem;
		}
		@include breakpoint(350px down) {
			font-size: .8rem;
		}
	}
		
}

// Off-canvas menu styles. For small screens.

.off-canvas {
	border-left: 4px solid $primary-color;
	.menu {
		margin-top: 3rem;
		font-family: $header-font-family;
		text-transform: uppercase;
		li {
			a:hover {
				background-color: rgba($primary-color, .2);
			}
			.regent-link {
				background-color: $primary-color;
				color: $white;
				font-size: .8rem;
				&:hover {
					background-color: rgba($primary-color, .8);
				}
			}
		}
		.nested.menu {
			text-transform: none;
			font-family: "Futura W01 Medium", Arial, Helvetica, sans-serif;
			margin-bottom: .5rem;
			margin-top: 0;
			li {
				a {
					padding: .4rem 1rem;
					font-weight: normal;
					font-size: 1rem;
					&:hover {
						background-color: rgba($primary-color, 0);
						text-decoration: underline;
						color: $primary-color
					}
					
				}
			}
		}
	}
}

.medium-menu {
	display: none;
	position: relative;
	@include breakpoint(768px) { 
		display: block;
	}
	nav {
		position: relative;
		
		@include grid-row;
		.dropdown .menu {
			padding-top: 10px;
		}
		.logo {	
			background-color: transparent;
			max-width: 230px;
			.flag {
				margin-left: 1rem;
				padding-top: 15px;
				@include breakpoint(850px down) {
					height: 110px;
					padding-top:10px;
				}
				@include breakpoint(800px down) {
					height: 100px;
					padding-top:10px;
				}
			}
			@include grid-col;
			@include breakpoint(768px) {
				@include grid-col-size(3);
			}
			
			padding: 0px;
			.regent-text {
				font-family: $header-font-family;
				font-size: .75rem;
				line-height: .9rem;
				color: $white;
				margin: 5px 5% 5px 10%;
				padding-top: 0px;
				@include breakpoint(810px down) {
					font-size: .7rem;
				}
				@include breakpoint(778px down) {
					font-size: .65rem;
				}

			}
	
			img {
				color: #fff;
				margin-left: 10%;
				margin-right: 10%;
				margin-top: 10px;
				width: 80%;
				@include breakpoint(large down) { 
					margin-top: 10px;
				}
			}
		
			.menu-icon {
				margin-top: 1.2rem;
			}
		
			.menu-icon-text {
				display: block;
				font-size: .7rem;
				margin-top: .05rem;
				text-align: center;
				color: $white;
			}	
		}
		.main-nav {
			margin-top: 2rem;
			.menu {
				font-family: $header-font-family;
				li {
					vertical-align: middle;
					font-size: 1rem;
					a {
						color: $dark-gray;
						font-size: 1rem;
						padding-right: .7rem;
						&:hover {
							color: $primary-color;
						}
					}
				}
				.menu {	
					a {
						color: rgba(255, 255, 255, 0.8);
						font-size: .6rem;
						line-height: .8rem;
						padding-left: 15px;
						padding-top: 5px;
						padding-bottom: 5px;
					}
					a:hover {
						text-decoration: underline;
						color: rgba(255, 255, 255, 1);
					}
				}
			}
			@include grid-col;
			@include breakpoint(768px) {
				@include grid-col-size(9);
		
				.sibling-fade {
					li a {
						transition: opacity 0.2s;
					}
				}
				.sibling-fade:hover li a:not(:hover) {
					opacity: 0.5;
				}
			}
			@include breakpoint(1024px down) {
				.menu li a {
					font-size: .9rem;
				}	
			}
			@include breakpoint(960px down) {
				.menu li a {
					font-size: .8rem;
				}	
			}
			
		}
	}
}

.regent-main-link {
	top:0px;
	right: 20px;
	display: block;
	position: absolute;
	font-size: .5rem;
	background-color: $black;
	color: $white;
	padding: .3rem;
	max-width: 70px;
	text-align: center;
	height: 120px;

	&.button {
		margin: 0px;
		border-radius: 3px;
		padding: .5rem .5rem .5rem .5rem;
		border: none;
		font-size: .6rem;
	}
	&.flag {
		height: 50px;
		&:after {
			transform: skewY(-4deg);
		}
	}
	img {
		margin-left: 5px;
		margin-top: -5px;
	}
	@include breakpoint(860px down) { 
		top:0px;
		max-width: 130px;
		padding: .4rem .5rem;
		&.flag {
			height: 25px;
			&:after {
				transform: skewY(-2deg);
			}
		}
	}
	@include breakpoint(767px down) { display: none; }
}

/* --------------------------------------------------
:: 5. HOME PAGE
---------------------------------------------------*/

.introduction {
	padding-top: 120px;
	
	h1, p {
		color: $white;
		display: block;
		font-size: 1.25rem;
		line-height: 1.9rem;
	}
	h1 {
		text-transform: uppercase;
		font-size: 2.4rem;
		line-height: 2.65rem;
	}
	h2.introtext{
		font-size:1.4rem;
		line-height:1.6rem;
		font-family:"Futura W01 Book", Arial, Helvetica, sans-serif;
		color: $white;
		max-width: 75%;
	}
	p {
		max-width: 75%;
		font-size: 1.2rem;
	}
	
	@include breakpoint(large down) {
		padding-bottom: 20px;
		h2.introtext, p {
			max-width: 60%;
		}
		
	}
	
	@include breakpoint(large down) {
		max-width: 95%;
		padding-top: 80px;
		
	}
	
	@include breakpoint(960px down) {
		h2.introtext, p {
			max-width: none;
		}
	}
	
	@include breakpoint(xxmedium only) { 
		padding-top: 65px;
	}
	@include breakpoint(xmedium down) { 	
		/*background: 
			linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)),
			 url('/images/summer/2017-boat-main-cover.jpg'); */
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 50px;
		padding-bottom: 30px;
		margin: 0px;
		h1,p {
			
		}
		p {
			max-width: none;
		}
	}
	@include breakpoint(xmedium down) {
		h1, h2.introtext, p {
			padding-left: 20px;
			padding-right: 20px;
		}
	}	
}

.home-flags {
	margin-top: 50px;
	margin-bottom: 100px;
	h3 {
		font-size: 1.5rem;
	}
	p {
		font-size: 1.1rem;
		line-height: 1.8rem;
	}
	
	a {
		display: block;
		color: $white;
		padding: 20px;
		height: 200px;
	}
	div {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.courses {
		background-color: #fa3737;
	}
	.events {
		background-color: #ff690e;
	}
	.lectures {
		background-color: #64006b;
	}
	
	@include breakpoint(large down) {
		margin-top: 0px;
		max-width: 95%;
		.flag {
			width: 100%
		}
	}
	
	@include breakpoint(xxmedium down) {

		h3 {
			font-size: 1.2rem;
		}
		p {
			font-size: .95rem;
			line-height: 1.4rem;
		}
	}
	

	@include breakpoint(xmedium down) {
		h3 {
			font-size: 1.2rem;
		}
		p {
			font-size: .95rem;
			line-height: 1.4rem;
		}
	@include breakpoint(735px down) {
		margin-bottom: 0px;
	}	
		
	}
	@include breakpoint(medium down) { 
		@include grid-column-collapse;
		max-width: none;
		p {
			display: none;
			height: auto;
		}
		.flag:after {
				display: none;
		}
		a {
			display: block;
			color: $white;
			padding: 10px;
			height: auto;
			margin: 0px;
			width: 100%;
		}
		div {
			padding-top: 0px;
			padding-bottom: 0px;
		}
	}
}





/* --------------------------------------------------
:: 6. MAIN CONTENT EXCEPT HOME PAGE
---------------------------------------------------*/

.content {
	background-color: $white;
	margin-top: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	@include box-shadow(0px, 0px, 10px, rgba(0,0,0,0.3), false, false);
	
/*
	h2 {
		margin-left: 30px;
		margin-top: 30px;
	}
*/
	h3, h4 {
		margin-top: 1.5rem;
		margin-bottom: 1rem;
	}
	p a {
		font-weight: bold
	}
	li {
		margin-bottom: 0rem;
	}
	@include breakpoint(medium down) {
		@include box-shadow(0px, 0px, 10px, rgba(0,0,0,0.3), false, true);
		margin-top: 0px;
	}
	
	.content-padding {
		padding: 20px;
		@include breakpoint(small only) {
			padding: 15px;
		}
	}
	
}

.alert-bar {
	background-color: $primary-color;
	color: $white;
	width: 100%;
	padding: 5px 10px 5px 10px;
	font-size: .85rem;
	text-transform: uppercase;
	font-family: $header-font-family;
	margin: 15px 0px 20px 0px;
	
}

.alert-text {
	color: $primary-color;
	font-size: .85rem;
	text-transform: uppercase;
	font-family: $header-font-family;
	margin: 20px 0px 20px 0px;
}


/* --------------------------------------------------
:: 7. COURSE PAGES LIST VIEW
---------------------------------------------------*/

ul.courses {
	font-size: .85rem;
	padding: 0px 20px 0px 20px;
	li {
		padding: 20px 0px 20px 0px;
		border-bottom: 1px dotted $dark-gray;
		&:last-child {
			border: none;
		}
	}
	.course-number {
		text-transform: uppercase;
		margin-top: 10px;
	}
	a {
		font-size: .95rem;
		font-weight: bold;
	}
	.course-name a {
		font-size: 1.1rem;
	}
}

ul.courses.details {
	
	.course-subtitle {
		margin-bottom: 10px;
	}
	.sidebar {
		font-size: .9rem;
		line-height: 1.2rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}

.courses-intro a {
	font-weight: bold;
}

.course-instructor {
	margin-top: 5px;
	padding-bottom: 1rem;
	line-height: 1.2rem;
	a {
		font-weight: bold;
	}
}

.courses.list {
	.course-instructor {
		padding-bottom: .5rem;
	}
}


.course-instructor-photo {
	display: block;
	margin-bottom: 10px;
}



.course-location {
	font-weight: bold;
	text-transform: uppercase;
/*
	background-color: $primary-color;
	color: $white;
	padding: 5px;
	font-size: .8rem;
	margin-top: 5px;
	text-align: center;
*/
}

.course-highlighted {
	background-color: rgba($primary-color, .15)
}



/* --------------------------------------------------
:: 8. COURSE DETAILS PAGE
---------------------------------------------------*/

.courses.details {
	h4 {
		margin: 25px 0px 10px 0px;
	}
	
	li {
		margin: 10px;
	}
}

.completed {
	color: $dark-gray;

}


/* --------------------------------------------------
:: 9. TIMETABLE
---------------------------------------------------*/

.timetable {
	margin-top: 15px;
	margin-bottom: 40px;
	td, tr {
		font-size: .9rem;
	}
	h3, h4 {
		font-size: 1.2rem;
	}
	h4 {
		color: $primary-color;
	}
}

/* --------------------------------------------------
:: 10. EVENTS
---------------------------------------------------*/

.event-list .column {
	margin-bottom: 20px;
}

.event-list h3 {
	margin-bottom: 20px;
}

.reveal {
	h3 {
		margin-top: 0px;
		margin-bottom: 20px;
		font-size: 1.51rem;
		text-align: center;	
	}
	h4 {
		text-align: center;
	}
	p {
		text-align: center;
	}
}

.cls-1 { 
	fill: #b0b4b5;
	width: 50%;
	height: 50%;
	&:hover {
		fill: $primary-color;
	}	
}

.event-list.weekly .column {
	text-align: center;
}

.event-list svg {
	@include breakpoint(620px down) {
		width: 60%;
		height: 60%;
	}
	@include breakpoint(420px down) {
		width: 95%;
		height: 95%;
	}
/*
	@include breakpoint(320px down) {
		width: 5.5rem;
		height: 5.5	rem;
	}
*/
}

.week-events-title {
	text-align: center;
	font-family: "Futura W01 Bold", Arial, Helvetica, sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
	&:hover { color: $primary-color; }
	a { 
		color: #95A5B4;
		&:hover {
			color: $primary-color;
		}
	}
	@include breakpoint(920px down) {
		font-size: .85rem;
		line-height: 1.1rem;
	}
	@include breakpoint(840px down) {
		font-size: .7rem;
		line-height: 1rem;
	}
	@include breakpoint(420px down) {
		font-size: .8rem;
	}
	@include breakpoint(320px down) {
		font-size: .75rem;
	}
	
}
	

.event-date-container {
	width:100%;
	margin:0 0 1px 0;
	padding-bottom: 0px;
	border-bottom:1px dotted #b0b5b5;
	.event-date {
		color: #b0b5b5;
		margin-right: 5px;
		padding: 0;
		background: none;
		font-family: "Futura W01 Bold", Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 5px;
		display: inline-block;
		vertical-align: middle;
		.month {
			font-size: 1rem;
			line-height: 1rem;
			margin-left: 4px;
			@include breakpoint(medium down) {
				font-size: .8rem;
			}
		}
		.day {
			font-size: 1.8rem;
			line-height: 1.8rem;
			letter-spacing: -.08rem;
			@include breakpoint(medium down) {
				font-size: 1.5rem;
				line-height: 1.5rem;
			}
		}
	}
	.long-date {
		font-family:"Futura W01 Bold", Arial, Helvetica, sans-serif;
		font-size: .75rem;
		line-height: .9rem;
		display: inline-block;
		vertical-align: middle;
		@include breakpoint(medium down) {
				font-size: .7rem;
				line-height: .85rem;
		}
	}
	
}
.event-title {
// 	padding: 10px 0px 5px 0px;
	font-family: $header-font-family;
	color: $primary-color;
	font-size: .85rem;
	line-height: 1.1rem;
	margin: 5px 0 5px 0px;
	@include breakpoint(medium down) {
		font-size: .75rem;
		line-height: 1rem;
	}
}
.event-speaker {
	font-size: .8rem;
	line-height: 1.15rem;
}

.event-image {
	margin-top: 5px;
}

.event-category .label {
	margin-bottom: 5px;
	font-family: $header-font-family;
	text-transform: uppercase;
	font-size: .6rem;
	padding: 5px;
	color: $white;
	background-color: $light-blue;
	&.conference {
		background-color: $violet-red;
	}
	&.workshop {
		background-color: $violet-red;
	}
	&.public-lecture {
		background-color: $dark-blue;
	}
	&.retreat {
		background-color: $mid-purple;
	}
	&.chapel {
		background-color: $violet-red;
	}
	&.off-campus {
		background-color: $mid-blue;
	}
	&.tour {
		background-color: $dark-green;
	}
}


/* --------------------------------------------------
:: 11. FACULTY PAGES LIST VIEW
---------------------------------------------------*/

.faculty-list {
	font-size: .85rem;
// 	padding: 0px 20px 0px 20px;
	@include breakpoint(medium down) {
		padding: 0px;
	}
	.faculty-image {
		position: relative;
	}
	
/*
	.faculty-name {
		background-color: $black;
		color: $white;
		width: 100%;
		max-width: 240px;
		padding: 10px;
		position: absolute;
		bottom: 0;
		left: 0;
		font-family: $header-font-family;
	}
*/
	.faculty-name {
		padding: 10px 0px 0px 0px;
		font-family: $header-font-family;
		color: $primary-color;
		font-size: 1rem;
		line-height: 1.2rem;
	}
	.faculty-description p {
		font-size: .85rem;
		margin: 0px 0px 30px 0px;
		line-height: 1.1rem;
		margin-top: 5px;
	}
	@include breakpoint(medium down) {
		.faculty-image {
	/*		float:right;
			max-width: 50%;
			margin: 15px 0px 5px 10px;

			object-fit: cover;
			height: 150px;
*/
		}
		.faculty-description {
// 			border-bottom: 1px dotted $dark-gray;
			padding-bottom: 10px;
		}
	}
}

 
/* --------------------------------------------------
:: 12. FAQ PAGE
---------------------------------------------------*/

.faq {
	h3 {
		margin-top: 40px;
		margin-bottom: 20px;
		font-size: 1.51rem;
		text-align: center;
		
	}	
	.icon {
		display: block;
		width: 8rem;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		align-items: center;
	}
	.faq-title {
		text-align: center;
	}
	font-family: "Futura W01 Heavy", Arial, Helvetica, sans-serif;
	font-size: 1.1rem;
}

.admission {
	color: #25428E;
	a {
		color: #25428E;
	}
}

.coursework {
	color: #1E7FC3;
	a {
		color: #1E7FC3;
	}
}

.time-at-regent {
	color: #00B2D4;
	a {
		color: #00B2D4;
	}
}



/* --------------------------------------------------
:: 13. CUSTOM REVEAL STYLES
---------------------------------------------------*/

.reveal {
	h3 {
		font-size: 1.4rem;
		line-height: 1.8rem;
	}
	p, li {
		font-size: 1rem;
		line-height: 1.4rem;
		color: $black;
	}
}

.admission.reveal {
	border: 4px solid #25428E;
	h3 {
		color: #25428E;
	}
	.close-button {
		color: #25428E;
	}
}

.coursework.reveal {
	border: 4px solid #1E7FC3;
	h3 {
		color: #1E7FC3;
	}
	.close-button {
		color: #1E7FC3;
	}
}


.time-at-regent.reveal {
	border: 4px solid #00B2D4;
	h3 {
		color: #00B2D4;
	}
	.close-button {
		color: #00B2D4;
	}
}


.fade-in {
	@include mui-fade(in, $duration: 0.3s);
}


/* --------------------------------------------------
:: 14. RIGHT SIDEBARS
---------------------------------------------------*/

// FEATURED EVENTS

.sidebar {
	.sidebar-highlight  {
		position: relative;
		
		@include breakpoint(medium down) {
			min-height: 0 !important;
		}
		
		@include breakpoint(xxmedium down) {
			min-height: 250px;
		}
		
		@include breakpoint(640px) { 
			min-height: 350px;
		}
		
		@include breakpoint(900px) { 
			min-height: 350px;
		}
		
		@include breakpoint(950px) { 
			min-height: 300px;
		}
		
		@include breakpoint(1000px) { 
			min-height: 350px;
		}
		
		@include breakpoint(1100px) { 
			min-height: 330px;
		}
		@include breakpoint(1200px) { 
			min-height: 350px;
		}
	}
	.sidebar-highlight-image {
		img {
			width: 100%;
		}
		
/*
		background-repeat: no-repeat;
		background-position: center top;
		background-size: 100%;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
		background: url('../img/SummerRetreat_Square.jpg');
		height: 250px;
*/
	}
	.sidebar-highlight-text {
		position: absolute;
		bottom: 0;
		left: 0;
		background: $primary-color;
		color: $white;
		font-family: $header-font-family;
		text-transform: uppercase;
		padding: 15px;
		line-height: 1.3rem;
		font-size: 1rem;
// 		hyphens: auto;
		
		.event-speaker {
			font-size: .7rem;
			line-height: .9rem;
			text-transform: none;
			margin-top: 10px;
			font-family: "Futura W01 Book", Arial, Helvetica, sans-serif;
		}
		.date {
			color: $black;
			margin-top: 10px;
		}
		@include breakpoint(xxmedium down) {
			font-size: .8rem;
			line-height: 1rem;
			.event-speaker {
				font-size: .6rem;
				line-height: .8rem;
			}
		}
		@include breakpoint(medium down) {
			line-height: 1.4rem;
			font-size: 1.2rem;
			position: relative;
			.event-speaker {
				font-size: .7rem;
				line-height: .9rem;
			}
		}
	}
	@include breakpoint(600px down) {
		.edge--top:before {
			display: none;
		}
	}
	
}

.thumbnail {
	max-width: 275px;
	margin-left: 30px;
	margin-bottom: 10px;
}

// REGISTRATION SIDEBAR

.reg-sidebar {
	div {
		background-color: rgba($primary-color, 0.15);
		padding: 15px;
		margin-bottom: 15px;
		h2 {
			font-size: 1.4rem;
			line-height: 1.6rem;
		}
		h3 {
			font-size: 1rem;
			color: $primary-color;
			line-height: 1.2rem;
		}
		h4 {
			font-size: 1rem;
			color: $primary-color;
			font-family:"Futura W01 Book", Arial, Helvetica, sans-serif;
		}
		h3, h4 {
			margin-top: 0rem;
			margin-bottom: .5rem;
		}
	}
}


/* --------------------------------------------------
:: 15. ACCORDIONS
---------------------------------------------------*/

.accordion-title {
	font-size: 1rem;
	font-family:"Futura W01 Heavy", Arial, Helvetica, sans-serif;;
}
.accordion-title:hover, 
.accordion-title:focus {
	color: $white;
}

.accordion-content {
	ul {
		margin-bottom: 15px;
	}
}



/* --------------------------------------------------
:: 16. FOOTER
---------------------------------------------------*/


footer {
	background-color: $black;
	color: $white;
	min-height: 400px;
	padding-top: 50px;
	padding-bottom: 30px;
	h4 {
		font-size: 1.3rem;
		@include breakpoint(639px down) {
			border-top:1px dotted #3f4343;
			padding: 2rem 0rem .5rem 0rem;
			font-size: 1.8rem;
			line-height: 2rem;
			display: block;
		}
	}
	p {
		text-align: left;
		margin-top: 10px;
		font-size: .9rem;
		
		line-height: 1.3rem;
		strong {
			text-transform: uppercase;
		}
	}
	
	.fine-print p {
		font-size: .8rem;
		margin-right: 50px;
	}
	
	
	.icon-menu {
		@include breakpoint(medium down) { display: none; }
	}
	
	.fine-print {
		margin-top: 2rem;
		img {
			float: left;
			margin: .1rem 1rem 0 0;
			
		}
	}
	
	.stay-connected, .fine-print {
		margin-left: 1.25rem;
		@include breakpoint (639px down) {
			margin-top: 2.5rem;
		}
	}
	
	.social-media {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			margin-right: .5rem;
			
		}
		a {
			color:#fff;
			font-size: 2rem;
			line-height: 2.2rem;
			@include breakpoint (900px down) {
				font-size: 1.6rem;
			}
			@include breakpoint (767px down) {
				font-size: 2rem;
			}
			@include breakpoint (639px down) {
				font-size: 2.2rem;
			}
		}
/*
		display:inline-block;
		padding:0 0 0 40px;
		background:url(http://www.regent-college.edu/images/misc/btn-socialmedia.png) 0 2px no-repeat;
		background-size: 160px;
*/
	}
	.social-media a:hover{
		color:#00b3d4;
	}
	.social-media a span{
		font-size:.7rem;
		line-height:.7rem;
		display:block;
	}
	.social-media a.facebook:hover{background-position:-128px 2px;}
	.social-media a.twitter{background-position:0 -48px;}
	.social-media a.twitter:hover{background-position:-128px -48px;}
	.social-media a.linkedin{background-position:0 -98px;}
	.social-media a.linkedin:hover{background-position:-128px -98px;}
	.social-media a.ytube{background-position:0 -148px;}
	.social-media a.ytube:hover{background-position:-128px -148px;}
	
    .footer-links {
    	ul.level-1 li {
        	font-weight:bold;
			margin-bottom:7px;
			margin-right:35px;
			padding-bottom:7px;
			border-bottom:1px dotted #3f4343;
			list-style: none;
			&:last-child {
				border-bottom:none;
			}
			a {
				color: $white;
				font-weight: bold;
				&:hover {
					color: $primary-color;
				}
			}
			.level-2 { 
				margin: 0;
				padding: 0;
				li {
					display: inline-block;
					border: none;
					margin: 0px 0px 0px 0px;
					padding: 0;
					font-weight: 200;
					font-size: .8rem;
					line-height: 1rem;
					a {
						color: $dark-gray;
						&:hover {
							color: $primary-color;
						}
					}
					&:after {
						content: " / ";
					}
					&:last-child:after {
						content: "";
					}
				}
			}
    	}
    }
}


/* --------------------------------------------------
:: 17. EDIT BAR (ADMIN ONLY)
---------------------------------------------------*/

#change-request-container {
	color: $white;
	background-color: $black;
	padding: 10px;
}

.edit-link{
	background:url("/images/misc/gear-corner.png") no-repeat scroll left top;
	float:left;
	height:55px;
	left:0;
	margin:0 0 0 -3px;
	max-width:100%;
	min-width:75px;
	padding:0;
	position:fixed;
	top:0;
	z-index:21;
}
.edit-link:hover{
	cursor:pointer;
}
.edit-link .edit-bar{
	display:none;
}
.edit-link:hover .edit-bar{
	display:block!important;
}
.edit-bar{
	background:url("/images/misc/gear-corner.png") no-repeat scroll left top;
	background-color:#000000;
	display:block;
	font-size:1.4rem;
	margin:0;
	padding:32px 0 10px 0;
	width:137px;
	border-style:none solid solid;
	border-width:0px 2px 2px 0px;
	border-color:#222;
	.dropdown-pane, button {
		background-color: $black;
	}
	
}
.edit-bar a {
	color: #FFFFFF;
	margin: 0 0 12px 35px;
	display: block;
	text-transform: uppercase;
	font-size: .75rem;
	line-height: 1rem;
	font-family: "Futura W01 Book", Arial, Helvetica, sans-serif;
}
.edit-bar a:hover{
	color:#ccc!important;
}


form#website_change_request {
	label {
		font-size: .9rem;
		color: $white;
		margin-top: 10px;
		display: block;
	}
	input[type='submit'] {
			background-color: $regent-blue;
			border: none;
			font-family: "Futura W01 Bold", Arial, Helvetica, sans-serif;
			text-transform: uppercase;
			font-size: .9rem;
			color: $white;
			padding: 10px 15px 10px 15px;
		}
}

