<div class="big-back"></div>

<div class="row content">
  <!-- TWO COLUMN LAYOUT FOR CONTENT EXCEPT HOME PAGE -->
  <div class="medium-9 columns">
  	<h2>Scriptures<br />
	  	<span class="subheader">Old Testament</span>
	</h2>
	  
	<ul class="courses no-bullet">
		<li class="row" itemscope itemtype="http://schema.org/Course">
			<div class="row">
				<div class="small-12 medium-3 small-push-12 columns large-collapse">
					<div class="course-instructor" itemprop="author"><a href="#">Iain Provan</a></div>
					<div class="course-dates" itemprop="contentReferenceTime">May 9–20</div>
					<div class="course-time" itemprop="contentReferenceTime">8:00–11:00 am</div>
					<div class="course-credits">3 credits: $1440</div>
					<div class="course-cost">Audit: $660</div>
					<div class="course-number" itemprop="courseCode"><a href="#">BIBL 501</a></div>
					<div style="display:none" itemprop="provider">Regent College</div>
				</div>
				<div class="small-12 medium-9 small-pull-12 columns">
					<div class="course-name" itemprop="name"><a href="#">Old Testament Foundations</a></div>
					<div class="course-description" itemprop="description">This is an exciting opportunity to spend two weeks in Israel, in the very places where Jesus lived and taught. We will follow the basic chronology of Jesus’s life, spending one week in Galilee and the second week in Jerusalem. Through walking tours, lectures, and interactions with local people, we will get to know the geographical, historical, and cultural setting of Israel during the time of Christ. This course is offered in conjunction with Jerusalem University College.</div>
				</div>
			</div>
		</li>
		<li class="row" itemscope itemtype="http://schema.org/Course">
			<div class="row">
				<div class="medium-3 columns large-collapse">
					<div class="course-instructor" itemprop="author"><a href="#">Iain Provan</a></div>
					<div class="course-dates" itemprop="contentReferenceTime">May 9–20</div>
					<div class="course-time" itemprop="contentReferenceTime">8:00–11:00 am</div>
					<div class="course-credits">3 credits: $1440</div>
					<div class="course-cost">Audit: $660</div>
					<div class="course-number" itemprop="courseCode"><a href="#">BIBL 501</a></div>
					<div style="display:none" itemprop="provider">Regent College</div>
				</div>
				<div class="medium-9 columns">
					<div class="course-name" itemprop="name"><a href="#">Old Testament Foundations</a></div>
					<div class="course-description" itemprop="description">This is an exciting opportunity to spend two weeks in Israel, in the very places where Jesus lived and taught. We will follow the basic chronology of Jesus’s life, spending one week in Galilee and the second week in Jerusalem. Through walking tours, lectures, and interactions with local people, we will get to know the geographical, historical, and cultural setting of Israel during the time of Christ. This course is offered in conjunction with Jerusalem University College.</div>
				</div>
			</div>
		</li>
		<li class="row" itemscope itemtype="http://schema.org/Course">
			<div class="row">
				<div class="medium-3 columns large-collapse">
					<div class="course-instructor" itemprop="author"><a href="#">Iain Provan</a></div>
					<div class="course-dates" itemprop="contentReferenceTime">May 9–20</div>
					<div class="course-time" itemprop="contentReferenceTime">8:00–11:00 am</div>
					<div class="course-credits">3 credits: $1440</div>
					<div class="course-cost">Audit: $660</div>
					<div class="course-number" itemprop="courseCode"><a href="#">BIBL 501</a></div>
					<div style="display:none" itemprop="provider">Regent College</div>
				</div>
				<div class="medium-9 columns">
					<div class="course-name" itemprop="name"><a href="#">Old Testament Foundations</a></div>
					<div class="course-description" itemprop="description">This is an exciting opportunity to spend two weeks in Israel, in the very places where Jesus lived and taught. We will follow the basic chronology of Jesus’s life, spending one week in Galilee and the second week in Jerusalem. Through walking tours, lectures, and interactions with local people, we will get to know the geographical, historical, and cultural setting of Israel during the time of Christ. This course is offered in conjunction with Jerusalem University College.</div>
				</div>
			</div>
		</li>
		<li class="row" itemscope itemtype="http://schema.org/Course">
			<div class="row">
				<div class="medium-3 columns large-collapse small-push-12">
					<div class="course-instructor" itemprop="author"><a href="#">Iain Provan</a></div>
					<div class="course-dates" itemprop="contentReferenceTime">May 9–20</div>
					<div class="course-time" itemprop="contentReferenceTime">8:00–11:00 am</div>
					<div class="course-credits">3 credits: $1440</div>
					<div class="course-cost">Audit: $660</div>
					<div class="course-number" itemprop="courseCode"><a href="#">BIBL 501</a></div>
					<div style="display:none" itemprop="provider">Regent College</div>
				</div>
				<div class="medium-9 columns small-pull-12">
					<div class="course-name" itemprop="name"><a href="#">Old Testament Foundations</a></div>
					<div class="course-description" itemprop="description">This is an exciting opportunity to spend two weeks in Israel, in the very places where Jesus lived and taught. We will follow the basic chronology of Jesus’s life, spending one week in Galilee and the second week in Jerusalem. Through walking tours, lectures, and interactions with local people, we will get to know the geographical, historical, and cultural setting of Israel during the time of Christ. This course is offered in conjunction with Jerusalem University College.</div>
				</div>
			</div>
		</li>  
  	</ul>
  </div>
  <div class="medium-3 columns sidebar">
	  <!-- FEATURED EVENT -->
	  {{> sidebar-events}}
	  
	  <!-- FEATURED COURSE -->
	  {{> sidebar-courses}}
	  
  </div>
</div>
