<div class="big-back"></div>

<div class="row content">
	<!-- TWO COLUMN LAYOUT FOR CONTENT EXCEPT HOME PAGE -->
	<div class="medium-9 columns">
		<h2>Events</h2>
		<!-- DISPLAY SUMMER FACULTY -->		
		<div class="event-list weekly">		
			<div class="row small-up-2 xsmall-up-3 medium-up-5 large-up-5 circle-icons">				
				<div class="column">
					<a data-toggle="welcomeCoffee">{{> icon-welcome-coffee}}</a>
					<div class="week-events-title">
						<a data-toggle="welcomeCoffee">Welcome Coffee</a>
					</div>
					
					<!-- Modal Window Content -->

					<div class="small reveal" id="welcomeCoffee" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">	
						
						<h3>Welcome</h3>
						<p><!-- {{ cms:page:tuition_payments_answer:rich_text }} -->
						During Class Break<br>
						Atrium Welcome to Regent! We’re glad you’re here! Help yourselves!
						</p>																																	  	
						<button class="close-button" data-close aria-label="Close modal" type="button">
							<span aria-hidden="true">&times;</span>
						</button>																																  	
					</div>
					
				</div>
				<div class="column">
					{{> icon-chapel}}
					<div class="week-events-title">
						<a data-toggle="chapel">Chapel</a>
					</div>
				</div>
				<div class="column">
					{{> icon-lunch}}
					<div class="week-events-title">
						<a data-toggle="lunch">Lunch</a>
					</div>
				</div>
				<div class="column">
					{{> icon-celebration}}
					<div class="week-events-title">
						<a data-toggle="lunch">End-of-Week Celebration</a>
					</div>
				</div>
				<div class="column">
					{{> icon-reframe}}
					<div class="week-events-title">
						<a data-toggle="lunch">ReFrame Lunch & Learn</a>
					</div>
				</div>
			</div>
			
			<div class="row small-up-1 xsmall-up-2 medium-up-3 xxmedium-up-4 ">
				<div class="column">
					<div class="event-date-container">
						<div class="event-date">
							<div class="month">Jun</div>
							<div class="day">27</div>
						</div>
						<div class="long-date">Saturday, 10:00 am</div>
					</div>
					<div class="event-category">
						<span class="label conference"><i class="fa fa-tag" aria-hidden="true"></i> Conference</span>
					</div>
					<a href="#" class="image-link">							
						<img src="http://www.regent-college.edu/system/events/564/vertical_images/original/180xNxProvan-240-template.jpg,q1485276419.pagespeed.ic.e_spm2Cf7d.jpg" alt="jeff-greenman" width="240" height="359" class="event-image" />
					</a>
					<div class="event-description">
						<div class="event-title">Doing Some Stuff</div>
						<div class="event-speaker">With Ian Provan</div>
					</div>
				</div>
				<div class="column">
					<div class="event-date-container">
						<div class="event-date">
							<div class="month">Jun</div>
							<div class="day">27</div>
						</div>
						<div class="long-date">Saturday, 10:00 am</div>
					</div>
					<div class="event-image">
						<div class="event-category">
							<span class="label primary">Conference</span>
						</div>
						<a href="#" class="image-link">
							<img src="http://www.regent-college.edu/system/events/564/vertical_images/original/180xNxProvan-240-template.jpg,q1485276419.pagespeed.ic.e_spm2Cf7d.jpg" alt="jeff-greenman" width="240" height="359" />
						</a>
					</div>
					<div class="event-description">
						<div class="event-title">Doing Some Stuff</div>
						<div class="event-speaker">With Ian Provan</div>
					</div>
				</div>
				<div class="column">
					<div class="event-date-container">
						<div class="event-date">
							<div class="month">Jun</div>
							<div class="day">27</div>
						</div>
						<div class="long-date">Saturday, 10:00 am</div>
					</div>
					<div class="event-image">
						<div class="event-category">
							<span class="label primary">Conference</span>
						</div>
						<a href="#" class="image-link">
							<img src="http://www.regent-college.edu/system/events/564/vertical_images/original/180xNxProvan-240-template.jpg,q1485276419.pagespeed.ic.e_spm2Cf7d.jpg" alt="jeff-greenman" width="240" height="359" />
						</a>
					</div>
					<div class="event-description">
						<div class="event-title">Doing Some Stuff</div>
						<div class="event-speaker">With Ian Provan</div>
					</div>
				</div>
				<div class="column">
					<div class="event-date-container">
						<div class="event-date">
							<div class="month">Jun</div>
							<div class="day">27</div>
						</div>
						<div class="long-date">Saturday, 10:00 am</div>
					</div>
					<div class="event-image">
						<div class="event-category">
							<span class="label primary">Conference</span>
						</div>
						<a href="#" class="image-link">
							<img src="http://www.regent-college.edu/system/events/564/vertical_images/original/180xNxProvan-240-template.jpg,q1485276419.pagespeed.ic.e_spm2Cf7d.jpg" alt="jeff-greenman" width="240" height="359" />
						</a>
					</div>
					<div class="event-description">
						<div class="event-title">Doing Some Stuff</div>
						<div class="event-speaker">With Ian Provan</div>
					</div>
				</div>
			</div>
		</div>
		
		
  </div>
  <div class="medium-3 columns sidebar">
	  <!-- FEATURED EVENT -->
	  {{> sidebar-events}}
	  
	  <!-- FEATURED COURSE -->
	  {{> sidebar-courses}}
	  
  </div>
</div>
