<div class="big-back"></div>

<div class="row content">
  <!-- TWO COLUMN LAYOUT FOR CONTENT EXCEPT HOME PAGE -->
  <div class="medium-9 columns">
  	<h2>Faculty</h2>
	<!-- 	DISPLAY SUMMER FACULTY -->
	<div class="faculty-list">
		<div class="row small-up-1 medium-up-2 xmedium-up-3 ">
		<div class="column">
				<img src="../assets/img/jeff-greenman.jpg" alt="jeff-greenman" width="240" height="359" class="faculty-image" />
			<div class="faculty-description">
				<div class="faculty-name">Jeff Greenman</div>
				<p>This is a story about a very interesting faculty member with lots of experience and tons of wisdom to share. Take his/her class because you will regret it if you don’t. Have you hear of this book? Yeh. This faculty member wrote it. Not convinced yet? Well then I don’t know what else to say. You should just come anyway because we are just awesome.</p>
			</div>
		</div>
		<div class="column">
			<div class="faculty-image">
				<img src="../assets/img/jeff-greenman.jpg" alt="jeff-greenman" width="240" height="359" />
				<div class="faculty-name">Jeff Greenman</div>
			</div>
			<div class="faculty-description">
				<p>This is a story about a very interesting faculty member with lots of experience and tons of wisdom to share. Take his/her class because you will regret it if you don’t. Have you hear of this book? Yeh. This faculty member wrote it. Not convinced yet? Well then I don’t know what else to say. You should just come anyway because we are just awesome.</p>
			</div>
		</div>
		<div class="column">
			<div class="faculty-image">
				<img src="../assets/img/jeff-greenman.jpg" alt="jeff-greenman" width="240" height="359" />
				<div class="faculty-name">Jeff Greenman</div>
			</div>
			<div class="faculty-description">
				<p>This is a story about a very interesting faculty member with lots of experience and tons of wisdom to share. Take his/her class because you will regret it if you don’t. Have you hear of this book? Yeh. This faculty member wrote it. Not convinced yet? Well then I don’t know what else to say. You should just come anyway because we are just awesome.</p>
			</div>
		</div>
		<div class="column">
			<div class="faculty-image">
				<img src="../assets/img/jeff-greenman.jpg" alt="jeff-greenman" width="240" height="359" />
				<div class="faculty-name">Jeff Greenman</div>
			</div>
			<div class="faculty-description">
				<p>This is a story about a very interesting faculty member with lots of experience and tons of wisdom to share. Take his/her class because you will regret it if you don’t. Have you hear of this book? Yeh. This faculty member wrote it. Not convinced yet? Well then I don’t know what else to say. You should just come anyway because we are just awesome.</p>
			</div>
		</div>
		<div class="column">
			<div class="faculty-image">
				<img src="../assets/img/jeff-greenman.jpg" alt="jeff-greenman" width="240" height="359" />
				<div class="faculty-name">Jeff Greenman</div>
			</div>
			<div class="faculty-description">
				<p>This is a story about a very interesting faculty member with lots of experience and tons of wisdom to share. Take his/her class because you will regret it if you don’t. Have you hear of this book? Yeh. This faculty member wrote it. Not convinced yet? Well then I don’t know what else to say. You should just come anyway because we are just awesome.</p>
			</div>
		</div>
		<div class="column">
			<div class="faculty-image">
				<img src="../assets/img/jeff-greenman.jpg" alt="jeff-greenman" width="240" height="359" />
				<div class="faculty-name">Jeff Greenman</div>
			</div>
			<div class="faculty-description">
				<p>This is a story about a very interesting faculty member with lots of experience and tons of wisdom to share. Take his/her class because you will regret it if you don’t. Have you hear of this book? Yeh. This faculty member wrote it. Not convinced yet? Well then I don’t know what else to say. You should just come anyway because we are just awesome.</p>
			</div>
		</div>	
	</div>
	</div>
	
  </div>
  <div class="medium-3 columns sidebar">
	  <!-- FEATURED EVENT -->
	  {{> sidebar-events}}
	  
	  <!-- FEATURED COURSE -->
	  {{> sidebar-courses}}
	  
  </div>
</div>
