<div class="big-back"></div>

<div class="row content">
	<!-- TWO COLUMN LAYOUT FOR CONTENT EXCEPT HOME PAGE -->
	<div class="medium-9 columns">
		<h2>FAQs</h2>
		
		<div class="faq admission">	
			<h3>Admission and Registration</h3>
			<div class="row small-up-2 medium-up-4">
				<div class="column column-block">
					<a data-toggle="tuitionPayments">
						<img src="../assets/img/faq-icons/tuition-payments.svg" alt="Tuition Payments" class="icon">
					</a>
					<div class="faq-title">
						<a data-toggle="tuitionPayments">Tuition Payments</a>
					</div>
					
					<!-- Modal Window Content -->

					<div class="admission small reveal" id="tuitionPayments" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">	
						<h1>{{ cms:page:tuition_payments_title:string }}</h1>																										  	
						<p>{{ cms:page:tuition_payments_answer:rich_text }}</p>																																	  	
						<button class="close-button" data-close aria-label="Close modal" type="button">
							<span aria-hidden="true">&times;</span>
						</button>																																  	
					</div>
																																					  	
				</div>
				<div class="column column-block">
					<a data-toggle="gradApplication">
						<img src="../assets/img/faq-icons/grad-application.svg" alt="Grad School Application" class="icon">
					</a>
					<div class="faq-title">
						<a data-toggle="gradApplication">Grad School Application</a>
					</div>
					
					<!-- Modal Window Content -->

					<div class="admission small reveal" id="gradApplication" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
						<h3>How do I apply for a course extension?</h3>
						<p>Aenean maximus quis elit non accumsan. Sed finibus ut leo eu ornare. Quisque in nibh id ligula interdum iaculis. Praesent tempus ex vestibulum fermentum vulputate. Nunc at mi sem. Vivamus purus lacus, suscipit eget odio a, vehicula condimentum tortor. Nunc blandit dapibus ligula, in vulputate magna ultrices vitae.</p>
						<button class="close-button" data-close aria-label="Close reveal" type="button">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					
				</div>
				<div class="column column-block">
					<a data-toggle="addDropCourses">
						<img src="../assets/img/faq-icons/add-drop-courses.svg" alt="Add or Drop Courses" class="icon">
					</a>
					<div class="faq-title"><a data-toggle="addDropCourses">Add/Drop Courses</a></div>
					
					<!-- Modal Window Content -->

					<div class="admission small reveal" id="addDropCourses" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
						<h1>{{ cms:page:add_drop_courses_title:string }}</h1>
						<p>{{ cms:page:add_drop_courses_answer:rich_text }}</p>
						<button class="close-button" data-close aria-label="Close reveal" type="button">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
				<div class="column column-block">
					<a data-toggle="creditTransfer">
						<img src="../assets/img/faq-icons/credit-transfer.svg" alt="Credit Transfer" class="icon">
					</a>
					<div class="faq-title">
						<a data-toggle="creditTransfer">Credit Transfer</a>
					</div>
					
					<!-- Modal Window Content -->

					<div class="admission small reveal" id="creditTransfer" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
						<h1>{{ cms:page:credit_transfer_title:string }}</h1>
						<p>{{ cms:page:credit_transfer_answer:rich_text }}</p>
						<button class="close-button" data-close aria-label="Close reveal" type="button">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="faq coursework">	
			<h3>My Coursework</h3>
			<div class="row small-up-2 medium-up-4">
				<div class="column column-block">
					<a data-toggle="assignmentSubmission">
						<img src="../assets/img/faq-icons/assignment-submission.svg" alt="Assignment Submission" class="icon">
					</a>
					<div class="faq-title">
						<a data-toggle="assignmentSubmission">Assignment Submission</a>
					</div>
					
					<!-- Modal Window Content -->

					<div class="reveal" id="assignmentSubmission" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
						<h1>{{ cms:page:assignment_submission_title:string }}</h1>
						<p>{{ cms:page:assignment_submission_answer:rich_text }}</p>
						<button class="close-button" data-close aria-label="Close reveal" type="button">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					
				</div>
				<div class="column column-block">
					<a data-toggle="coursePrep">
						<img src="../assets/img/faq-icons/course-preparation.svg" alt="Course Preparation" class="icon">
					</a>
					<div class="faq-title">
						<a data-toggle="coursePrep">Course Preparation</a>
					</div>
					
					<!-- Modal Window Content -->

					<div class="reveal" id="coursePrep" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
						<h1>{{ cms:page:course_preparation_title:string }}</h1>
						<p>{{ cms:page:course_preparation_answer:rich_text }}</p>
						<button class="close-button" data-close aria-label="Close reveal" type="button">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					
				</div>
				<div class="column column-block">
					<a data-toggle="courseExtensions">
						<img src="../assets/img/faq-icons/course-extension.svg" alt="Course Extensions" class="icon">
					</a>
					<div class="faq-title">
						<a data-toggle="courseExtensions">Course Extensions</a>
					</div>
					
					<!-- Modal Window Content -->

					<div class="reveal" id="courseExtensions" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
						<h1>{{ cms:page:course_extensions_title:string }}</h1>
						<p>{{ cms:page:course_extensions_answer:rich_text }}</p>
						<button class="close-button" data-close aria-label="Close reveal" type="button">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					
				</div>
				<div class="column column-block">
					<a data-toggle="courseSyllabus">
						<img src="../assets/img/faq-icons/course-syllabus.svg" alt="Course Syllabus" class="icon">
					</a>
					<div class="faq-title">
						<a data-toggle="courseSyllabus">Course Syllabus</a>
					</div>
					
					<!-- Modal Window Content -->

					<div class="reveal" id="courseSyllabus" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
						<h1>{{ cms:page:course_syllabus_title:string }}</h1>
						<p>{{ cms:page:course_syllabus_answer:rich_text }}</p>
						<button class="close-button" data-close aria-label="Close reveal" type="button">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="faq time-at-regent">	
			<h3>My Time at Regent</h3>
			<div class="row small-up-2 medium-up-4">
				<div class="column column-block">
					<a data-toggle="hours">
						<img src="../assets/img/faq-icons/hours-operation.svg" alt="Hours of Operation" class="icon">
					</a>
					<div class="faq-title">
						<a data-toggle="hours">Hours of Operation</a>
					</div>
					
					<!-- Modal Window Content -->

					<div class="reveal" id="hours" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
						<h1>{{ cms:page:hours_operation_title:string }}</h1>
						<p>{{ cms:page:hours_operation_answer:rich_text }}</p>
						<button class="close-button" data-close aria-label="Close reveal" type="button">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					
				</div>
				<div class="column column-block">
					<a data-toggle="amenities">
						<img src="../assets/img/faq-icons/student-amenities.svg" alt="Student Amenities" class="icon">
					</a>
					<div class="faq-title">
						<a data-toggle="amenities">Student Amenities</a>
					</div>
					
					<!-- Modal Window Content -->

					<div class="reveal" id="amenities" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
						<h1>{{ cms:page:student_amenities_title:string }}</h1>
						<p>{{ cms:page:student_amenities_answer:rich_text }}</p>
						<button class="close-button" data-close aria-label="Close reveal" type="button">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					
				</div>
				<div class="column column-block">
					<a data-toggle="wifi">
						<img src="../assets/img/faq-icons/wifi-password.svg" alt="WiFi Password" class="icon">
					</a>
					<div class="faq-title">
						<a data-toggle="wifi">WiFi Password</a>
					</div>
					
					<!-- Modal Window Content -->

					<div class="reveal" id="wifi" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
						<h1>{{ cms:page:wifi_title:string }}</h1>
						<p>{{ cms:page:wifi_answer:rich_text }}</p>
						<button class="close-button" data-close aria-label="Close reveal" type="button">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					
				</div>
				<div class="column column-block">
					<a data-toggle="parking">
						<img src="../assets/img/faq-icons/parking.svg" alt="Parking" class="icon">
					</a>
					<div class="faq-title">
						<a data-toggle="parking">Parking</a>
					</div>
					
					<!-- Modal Window Content -->

					<div class="reveal" id="parking" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
						<h1>{{ cms:page:parking_title:string }}</h1>
						<p>{{ cms:page:parking_answer:rich_text }}</p>
						<button class="close-button" data-close aria-label="Close reveal" type="button">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					
				</div>
				<div class="column column-block">
					<a data-toggle="upass">
						<img src="../assets/img/faq-icons/upass.svg" alt="U-Pass Eligibility" class="icon">
					</a>
					<div class="faq-title">
						<a data-toggle="upass">U-Pass Eligibility</a>
					</div>
					
					<!-- Modal Window Content -->

					<div class="reveal" id="upass" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
						<h1>{{ cms:page:upass_title:string }}</h1>
						<p>{{ cms:page:upass_answer:rich_text }}</p>
						<button class="close-button" data-close aria-label="Close reveal" type="button">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					
				</div>
				<div class="column column-block">
					<a data-toggle="health">
						<img src="../assets/img/faq-icons/health-coverage.svg" alt="Health and Dental Coverage" class="icon">
					</a>
					<div class="faq-title">
						<a data-toggle="health">Health & Dental Coverage</a>
					</div>
					
					<!-- Modal Window Content -->

					<div class="reveal" id="health" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
						<h1>{{ cms:page:health_coverage_title:string }}</h1>
						<p>{{ cms:page:health_coverage_answer:rich_text }}</p>
						<button class="close-button" data-close aria-label="Close reveal" type="button">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					
				</div>
				<div class="column column-block">
					<a data-toggle="housing">
						<img src="../assets/img/faq-icons/housing.svg" alt="Housing" class="icon">
					</a>
					<div class="faq-title">
						<a data-toggle="housing">Housing</a>
					</div>
					
					<!-- Modal Window Content -->

					<div class="reveal" id="housing" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
						<h1>{{ cms:page:housing_title:string }}</h1>
						<p>{{ cms:page:housing_answer:rich_text }}</p>
						<button class="close-button" data-close aria-label="Close reveal" type="button">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					
				</div>
			</div>
		</div>
		
		
  </div>
  <div class="medium-3 columns sidebar">
	  <!-- FEATURED EVENT -->
	  {{> sidebar-events}}
	  
	  <!-- FEATURED COURSE -->
	  {{> sidebar-courses}}
	  
  </div>
</div>







