<div class="big-back"></div>

<div class="row content">
  <!-- TWO COLUMN LAYOUT FOR CONTENT EXCEPT HOME PAGE -->
  <div class="medium-9 columns">
  	
  	<nav aria-label="You are here:" role="navigation">
		  <ul class="breadcrumbs">
		    <li><a href="/summer/courses">Courses</a></li>
		    <li><a href="<%= request.referrer %>"><%= track_title %></a></li>
		    <li>
		      <span class="show-for-sr">Current: </span> <%= course.code %>
		    </li>
		  </ul>
		</nav>
  	
  	<h2>Getting Here</h2>
	
	
<h3>
  Accommodations
</h3>
<div>
  <p>
    While Regent College does not have its own residence halls, Summer students are eligible to reserve guest accommodations nearby on the UBC Campus. For more information, please visit <a href="http://suitesatubc.com">Stay at UBC</a>. You can also visit <a href="http://housing.regent-college.edu">housing.regent-college.edu</a> for possible short-term stay opportunities (please note access to this site requires a Regent Login).
  </p>
  <p>
    For further housing inquiries, please contact our Housing Coordinator at <a href="mailto:housing@regent-college.edu">housing@regent-college.edu</a>.
  </p>
</div>
<hr>
<h3>
  Driving to Regent
</h3>
<ul class="accordion" data-accordion>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">
      From the Vancouver International Airport
    </a>
    <div class="accordion-content" data-tab-content>
      <p>
        The Vancouver International Airport is located at 3211 Grant McConachie Way in Richmond, British Columbia.
      </p>
      
      <p>
        <strong>By car:</strong> 
      </p>
      
      <ul>
        <li>
          Leaving the airport, head north towards Vancouver.
        </li>
        <li>
          Stay in the right-hand lane as you drive over the Arthur Laing Bridge.
        </li>
        <li>
          Take the Granville Street exit.
        </li>
        <li>
          Stay in the left-hand lane on Granville Street, heading north.
        </li>
        <li>
          Take the second possible left turn onto SW Marine Drive.
        </li>
        <li>
          Stay on SW Marine Drive until 16th Avenue.
        </li>
        <li>
          Turn right onto 16th Avenue.
        </li>
        <li>
          Turn left at Wesbrook Mall (name of a street) Gate 10.
        </li>
        <li>
          Regent College is at the corner of Wesbrook Mall and University Blvd.
        </li>
      </ul>
      
      <p>
        <strong>By public transit (Canada Line train):</strong> Vancouver's public transit system, Translink, now offers rapid transit train service directly from the airport to downtown Vancouver via the Canada Line. You can exit the Canada Line at a number of stations, where buses will take you directly to the UBC Campus and (almost) to the College doorstep. Please visit <a href="http://www.translink.ca" target="_blank">Translink.ca</a> for bus connections, fares, and scheduling.
      </p>
      <p>
        <strong>By shuttle, limo, or taxi:</strong> For information on these and other modes of transportation from Vancouver Airport, please see Getting to and From the Airport on the YVR website.
      </p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">
      From the US-Canada border
    </a>
    <div class="accordion-content" data-tab-content>
      <ul>
        <li>
          Head North on Highway 99 from the Peace Portal Arch.
        </li>
        <li>
          Stay on Highway 99 through the Massey Tunnel and over the Oak Street Bridge.
        </li>
        <li>
          Turn left onto 41st Avenue.
        </li>
        <li>
          Keep right on 41st Avenue—it will turn into SW Marine Drive.
        </li>
        <li>
          Stay on SW Marine Drive until you reach 16th Avenue.
        </li>
        <li>
          Turn right onto 16th Avenue.
        </li>
        <li>
          Turn left at Wesbrook Mall (Gate 10).
        </li>
        <li>
          Regent College is located at the corner of Wesbrook Mall and University Blvd.
        </li>
      </ul>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">
      From the TransCanada Highway 1
    </a>
    <div class="accordion-content" data-tab-content>
      <ul>
        <li>
          Head west along TransCanada Highway 1.
        </li>
        <li>
          Exit onto Grandview Highway.
        </li>
        <li>
          Stay on Grandview Highway heading west. It will become 12th Avenue, and eventually 10th Avenue.
        </li>
        <li>
          Stay on 10th Avenue until you reach UBC, where 10th Avenue becomes University Blvd.
        </li>
        <li>
          Regent College is located at 5800 University Blvd.
        </li>
      </ul>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">
      From downtown Vancouver
    </a>
    <div class="accordion-content" data-tab-content>
      <p>
        <strong>By car:</strong> 
      </p>
      <ul>
        <li>
          Take Burrard Street going south.
        </li>
        <li>
          Turn right onto West 4th Avenue.
        </li>
        <li>
          Turn left onto Wesbrook Mall.
        </li>
        <li>
          Regent College is located at the corner of Wesbrook Mall and University Blvd.
        </li>
      </ul>
      <p>
        <strong>By public transit:</strong> There are a number of buses that travel directly to the UBC campus from various locations in downtown Vancouver. Popular routes include Burrard Street and Granville Street. For information on bus schedules, routes, locations, times, and fares, please visit <a href="http://www.translink.ca" target="_blank">Translink.ca</a>.
      </p>
    </div>
  </li>
</ul>
<hr>
<h3>
  Parking on campus
</h3>
<p class="p1">
  <span class="s1">Regent College has a first-come, first-served pay parking lot in which students, visitors, and members of the public are welcome to park. There are designated spaces for staff and faculty during business hours, with the rest of the lot being available to the public. Please note that we offer hourly, daily and evening rates.</span>
</p>
<p>
  For our Spring and Summer students, we are pleased to offer a 50% discount on our daily rate.  Students will be able to park on a first-come, first-served basis for $9 per day. Visit <a href="https://login.regent-college.edu/parking">Regent Summer Parking</a> to get your code.
</p>
<p>
  The University of British Columbia campus offers alternative parking options within walking distance of the College. Visit the <a href="http://www.parking.ubc.ca/">UBC Parking website</a> for full details.
</p>
<hr>
<h3>
  <br>
  Using Vancouver’s public transit
</h3>
<p>
  Metro Vancouver’s public transit system, Translink, includes a large network of transit vehicles that makes getting to Regent College easy and stress-free. To plan a trip to Regent from anywhere in the Lower Mainland, visit the <a href="http://www.translink.ca">Translink website</a>. You will find maps, schedules, a trip planner, fare information, and other important details to aid your trip.
</p>
<hr>
<h3>
  arriving by taxi
</h3>
<p>
  <strong>Black Top &amp; Checker Cabs</strong><br>
  604.683.4567<br>
  Toll Free: 1.800.494.1111
</p>
<p>
  <strong>MacLures Cabs</strong><br>
  604.683.6666
</p>
<p>
  <strong>Vancouver Taxi</strong><br>
  604.871.1111<br>
  Toll Free: 1800-871-8294
</p>
<p>
  <strong>Yellow Cab</strong><br>
  604.681.1111<br>
  Toll Free: 1.800.898.8294
</p>
<hr>
<h3>
  Our Address
</h3>
<p>
  Regent College is located at the corner of Wesbrook Mall and University Boulevard on the UBC campus.
</p>
<p>
  5800 University Blvd, Vancouver, BC, Canada, V6T 2E4
</p>
<p>
  {{cms:snippet:google_map}}
</p>

	
	
  </div>
  <div class="medium-3 columns sidebar">
	  <!-- FEATURED EVENT -->
	  {{> sidebar-events}}
	  
	  <!-- FEATURED COURSE -->
	  {{> sidebar-courses}}
	  
  </div>
</div>
