<!--
<div class="row introduction">
	<div class="large-2 columns hide-for-small">&nbsp;</div>
	<div class="small-12 large-6 columns">
		<h1>Immerse Yourself</h1>
		<p>Regent College offers one of the most extensive theological Summer Programs in the world for people who want to think more deeply about their faith. Join us for one- and two-week courses in a variety of subjects including Scripture, spiritual practices, arts, and marketplace & leadership.</p>
	</div>
	<div class="small-12 large-2 columns">
		&nbsp;
	</div>
	<div class="large-2 columns hide-for-small">&nbsp;</div>
</div>
-->

<div class="big-back home"></div>

<div class="column row introduction">
  <div>
	  <h1>Summer Programs 2018</h1>
                <h2 class="introtext">INVITE GOD TO DEEPEN YOUR FAITH, BROADEN YOUR MIND, AND TRANSFORM YOUR HEART.</h2>
              <p>Summer Programs present the best of what Regent has to offer, in our most user-friendly format. Our one- and two-week courses allow you to dive deep, combining a condensed, focused lecture schedule with the luxury of time to prepare and respond. </p>
  </div>
</div>

<div class="row home-flags small-collapse xmedium-uncollapse">
	<div class="xmedium-4 columns">
		<a href="#" class="courses flag edge--bottom">
			<h3>Courses</h3>
			<p>A very nice and fancy description of stuff and things that matters to summer programs.</p></a>
	</div>
	<div class="xmedium-4 columns">
		<a href="#" class="events flag edge--bottom">
			<h3>Events</h3>
			<p>A very nice and fancy description of stuff and things that matters to summer programs.</p></a>
	</div>
	<div class="xmedium-4 columns">
		<a href="#" class="lectures flag edge--bottom">
			<h3>Public Lectures</h3>
			<p>A very nice and fancy description of stuff and things that matters to summer programs.</p></a>		
	</div>
</div>