<div class="big-back"></div>

<div class="row content">
	<div class="medium-8 columns">
		
		<h2>How to Register</h2>
		
		<h3>Registration & payment Deadlines</h3>				
		<div class="alert-bar">
			Please note: Our registration & payment procedures & deadlines have changed			
		</div>		
	</div>
	
	<div class="medium-4 columns reg-sidebar">
		<div>
			<h3>Registration and Payment Deadlines</h3>
			<p>Register early to ensure your seat in the course</p>
			<h4>Register and pay by these deadlines to avoid a $50 late fee:</h4>
			<p><strong>Spring Session (May–June)</strong>: Friday, May 12</br>
				<strong>Summer Session (July–August)</strong>: Friday, June 30</p>
		</div>
		<div>
			
			<h3>Payment Methods</h3>
			<h4>Please note that our tuition payment methods have changed</h4>
			<p>Credit card payments are no longer accepted for anything except the initial registration deposit. Other online payment methods are available, but processing takes time. Please plan ahead in order to avoid late fees and ensure your right to participate in the class of your choice. </p>
		</div>
	</div>
</div>