	
	<div class="bottom-menu">
		<div class="row small-collapse">
			<div class="xmedium-4 columns highlight">
				<ul class="icon-list">
					<li>{{> icon-register}}</li>
					<li><a href="#">Register Now</a></li>
				</ul>
			</div>
			<div class="xmedium-4 columns">
				<ul class="icon-list">
					<li>{{> icon-plan}}</li>
					<li><a href="#">Plan Your Trip</a></li>
				</ul>
			</div>
			<div class="xmedium-4 columns">
				<ul class="icon-list">
					<li>{{> icon-connected}}</li>
					<li><a href="#">Stay Informed</a></li>
				</ul>
			</div>
		</div>
	</div>
		
<!--
		<div class="expanded large button-group">
			<a class="button">Expanded</a>
			<a class="button">Button</a>
			<a class="button">Group</a>
		</div>
-->

<!--
	<div class="bottom-menu" data-sticky-container>
	  <div class="sticky" data-sticky  data-stick-to="bottom" data-top-anchor="content:bottom" data-btm-anchor="footer:top" data-options="marginBottom:0; marginTop:0;" data-margin-top="0" data-margin-top="0">
	  	<h3>This is the sticky menu</h3>
	  </div>
	</div>
-->
