

<div class="row">
	<div class="small-12 medium-4 columns footer-links">
		<ul class="level-1">
			<li>
				<a href="/summer/courses">Courses</a>
				<ul class="level-2">
					<li><a href="/summer/timetable">Timetable</a></li>
					<li><a href="/summer/courses/spring">Spring Session</a></li>
					<li><a href="/summer/courses/summer">Summer Session</a></li>
					<li><a href="/summer/courses/scripture">Scripture</a></li>
					<li><a href="/summer/courses/theology">Theology</a></li>
					<li><a href="/summer/courses/ministry-worship">Ministry & Worship</a></li>
					<li><a href="/summer/courses/arts">Arts</a></li>
					<li><a href="/summer/courses/spiritual-practices">Spiritual Practices</a></li>
					<li><a href="/summer/courses/history-culture">History & Culture</a></li>
					<li><a href="/summer/courses/marketplace-leadership">Marketplace Leadership</a></li>
					<li><a href="/summer/courses/enroute">En Route</a></li>
					<li><a href="/summer/courses/biblical-languages">Biblical Languages</a></li>
				</ul>
			</li>
			<li>
				<a href="/summer/faculty">Faculty</a>
			</li>
			<li>
				<a href="/summer/activities-and-events">Events</a>
				<ul class="level-2">
					<li><a href="/summer/activities-and-events/events">Events Calendar</a></li>
	    			<li><a href="/summer/activities-and-events/public-lectures">Public Lectures</a></li>
				</ul>
			</li>
		</ul>
		
	</div>
	<div class="small-12 medium-4 columns footer-links">
		<ul class="level-1">
			<li>
				<a href="registration.html">Registration</a>
				<ul class="level-2">
					<li><a href="/summer/registration/">How to Register</a></li>
					<li><a href="/summer/registration/policies">Policies</a></li>
					<li><a href="/summer/registration/summer-bring-a-friend-benefit">Bring-a-Friend Benefit</a></li>
					<li><a href="/summer/registration/summer-travel-scholarships-for-ministers">Travel Scholarships for Ministers</a></li>
				</ul>
			</li>
			<li>
				<a href="getting_here.html">About</a>
				<ul class="level-2">
					<li><a href="/summer/about">Summer Programs</a></li>
					<li><a href="/summer/campus">Our Campus</a></li>
					<li><a href="/summer/campus">Summer Housing</a></li>
					<li><a href="/graduate-programs">Graduate Programs</a></li>
					<li><a href="/summer/stay-informed">Stay Informed</a></li>
				</ul>
			</li>
			<li>
				<a href="getting_here.html">FAQ</a>
			</li>
			<li>
				<a href="/">Regent College Home</a>
			</li>
		</ul>
		
	</div>

	<div class="small-12 medium-4 columns">
		<div class="stay-connected">
		<h4>Stay Connected</h4>
		<!--<div class="row small-up-6 medium-up-4 large-up-8 social-media">

			<div class="column column-block"><a href="http://www.facebook.com/regentcollege" class="social-media facebook" target="_blank">Facebook <span>Like</span></a></div>
			<div class="column column-block"><a href="http://twitter.com/regentcollege" class="social-media twitter" target="_blank">Twitter <span>Follow</span></a></div>
			<div class="column column-block"><a href="http://www.youtube.com/user/underthegreenroof" class="social-media ytube" target="_blank">YouTube <span>Subscribe</span></a></div>
			<div class="column column-block"><a href="http://www.linkedin.com/company/regent-college" class="social-media linkedin" target="_blank">LinkedIn <span>Follow</span></a></div>

			<div class="column column-block"><a href="http://www.facebook.com/regentcollege" class="social-media" target="_blank"><i class="fab fa-facebook"></i></a></div>
			<div class="column column-block"><a href="http://twitter.com/regentcollege" class="social-media" target="_blank"><i class="fab fa-twitter-square"></i></a></div>
			<div class="column column-block"><a href="http://www.youtube.com/user/underthegreenroof" class="social-media" target="_blank"><i class="fab fa-youtube-square"></i></a></div>
			<div class="column column-block"><a href="http://www.linkedin.com/company/regent-college" class="social-media" target="_blank"><i class="fab fa-linkedin"></i></a></div>
			<div class="column column-block"><a href="http://www.linkedin.com/company/regent-college" class="social-media" target="_blank"><i class="fab fa-vimeo-square"></i></a></div>
			<div class="column column-block"><a href="http://www.linkedin.com/company/regent-college" class="social-media" target="_blank"><i class="fab fa-instagram"></i></a></div>
		</div>-->
		
		<ul class="social-media">
			<li><a href="http://www.facebook.com/regentcollege" class="social-media" target="_blank" data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Facebook"><i class="fab fa-facebook"></i></a></li>
			<li><a href="http://twitter.com/regentcollege" class="social-media" target="_blank" data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Twitter"><i class="fab fa-twitter-square"></i></a></li>
			<li><a href="http://www.youtube.com/user/underthegreenroof" class="social-media" target="_blank" data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Youtube"><i class="fab fa-youtube-square"></i></a></li>
			<li><a href="http://www.linkedin.com/company/regent-college" class="social-media" target="_blank" data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
			<li><a href="http://vimeo.com/regentcollege" class="social-media" target="_blank" data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Vimeo"><i class="fab fa-vimeo-square"></i></a></li>
			<li><a href="https://www.instagram.com/regentcollege/" class="social-media" target="_blank" data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Instagram"><i class="fab fa-instagram"></i></a></li>
		</ul>
		
		<a href="/summer/stay-informed" class="button">Stay Informed</a>
		
		<div class="address">
		<p><strong>Regent College</strong><br />
		5800 University Blvd., Vancouver, B.C., Canada  V6T 2E4</p>		    

		
		<p><strong>Contact Summer Programs</strong><br />
		Phone: (604) 221-3373 <br />
		Fax: (604) 224-3097 <br />
		Toll free: 1-800-663-8664 <br />
		<a href="mailto:summer@regent-college.edu">summer@regent-college.edu</a></p>
		</div>
	</div>
		
		
	</div>
</div>



<div class="column row">
	<div class="fine-print">
		<img src="../assets/img/regent-logo.svg" alt="Regent College Summer Programs" />
		<p>Unless otherwise noted all site content is copyright &copy; 2016 Regent College. No reproduction, electronic or otherwise, without the permission of Regent College. Please refer to our Fine Print section for information on our privacy policies and terms of use.</p>
	</div>
</div>