<nav>
	
	<!-- 	 
	**********************************************
	* SMALL SCREENS UP TO 640PX. USES OFF-CANVAS *
	**********************************************
	-->
	
	<section class="small-menu">

		<div class="row">
			<div class="columns small-9">
				<ul class="dropdown menu simple" data-dropdown-menu>
					<li>
						<a href="episodes.html">Courses</a>
					</li>
					<li class="medium560">
						<a href="episodes.html">Faculty</a>
					</li>
					<li>
						<a href="#">Events</a>
					</li>
					<li>
						<a href="stories.html">Register</a>
					</li>
					<li class="medium560">
						<a href="stories.html">FAQ</a>
					</li>
				</ul>
			</div>
			<div class="columns small-3 ">
				<div class="more-button">
					<button class="button hollow more" type="button" data-open="mobileNav">More</button>
				</div>
			</div>
		</div>
		
		<div class="logo-title">
			<div class="logo">
				<img src="/assets/img/regent-logo.svg" alt="Regent College Summer Programs" />
			</div>
			<div class="site-title">
				<div class="regent-text">Summer <br>Programs</div>
			</div>
		</div>
		
	</section>
	
	<!-- 	 
	*******************************************
	* MEDIUM SCREENS BETWEEN 768PX AND 1024PX *
	*******************************************
	-->
	
	<section class="medium-menu">		
		<nav>
			<a href="http://www.regent-college.edu" class="regent-main-link flag edge--bottom">Regent College Home </a>
			<div class="logo">
				<div class="flag edge--bottom">
					<img src="/assets/img/regent-logo.svg" alt="Regent College Summer Programs" />
					<div class="regent-text">Summer Programs</div>
				</div>
			</div>
			<div class="main-nav">
				<ul class="dropdown menu sibling-fade" data-dropdown-menu>
					<li>
					    <a href="courses.html">Courses</a>
					    <ul class="menu edge--bottom">
					    	<li><a href="#">All Courses</a></li>
							<li><a href="#">Scripture</a></li>
							<li><a href="#">Theology</a></li>
							<li><a href="#">Preaching & Worship</a></li>
							<li><a href="#">Arts</a></li>
							<li><a href="#">Spiritual Practices</a></li>
							<li><a href="#">History & Culture</a></li>
							<li><a href="#">Marketplace Leadership</a></li>
							<li><a href="#">En Route</a></li>
					    </ul>
					    </li>
					<li>
				  		<a href="faculty-list.html">Faculty</a>
					</li>
					<li>
						<a href="events.html">Events</a>
						<ul class="menu edge--bottom">
							<li><a href="#">Item 3A</a></li>
							<li><a href="#">Item 3B</a></li>
				    	</ul>
					</li>
					
					<li>
						<a href="registration.html">Registration</a>
					    <ul class="menu edge--bottom">
					      <li><a href="#">Item 3A</a></li>
					      <li><a href="#">Item 3B</a></li>
					    </ul>
					</li>
					<li>
						<a href="getting_here.html">About</a>
						<ul class="menu edge--bottom">
					    	<li><a href="#">Summer Programs</a></li>
					    	<li><a href="#">Campus</a></li>
					    </ul>
					</li>
					<li>
						<a href="getting_here.html">FAQ</a>
					</li>
					
				</ul>
			</div>
			

		</nav>

	</section>
	
	
	
	<!-- 	 
	******************************
	* LARGE SCREENS ABOVE 1024PX *
	******************************
	-->
	
<!--
	<section class="large-menu">
	
	</section>
-->
	
	
</nav>