<nav>
	
	<!-- 	 
	**********************************************
	* SMALL SCREENS UP TO 640PX. USES OFF-CANVAS *
	**********************************************
	-->
	
	<section class="show-for-small hide-for-medium">
		<div class="title-bar">	
			<div class="title-bar-left">
				<ul class="menu simple" data-dropdown-menu>
					<li><a href="episodes.html">Courses</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="stories.html">Register</a></li>
				</ul>
			</div>
<!--
			<div class="title-bar-right">
				<ul class="menu simple more" data-dropdown-menu>
					<li>
						<a href="#">
							<div class="more-button">
								More <button class="menu-icon" type="button" data-open="mobileNav"></button>
							</div>
						</a>
					</li>
				</ul>
			</div>
-->
		</div>
		
		<div class="row logo">
			<div class="columns small-10">
				<div class="flag edge--bottom">
					<ul>
						<li><img src="/assets/img/regent-logo.svg" alt="Regent College Summer Programs" /></li>
						<li><h1>Summer Programs</h1></li>
					</ul>
				</div>
			</div>
			<div class="columns small-2">
				<button type="button" data-open="mobileNav"></button>
				<span class="menu-icon-text">More</span>
				<i class="fas fa-bars"></i>
			</div>
		</div>
		
	</section>
	
	<!-- 	 
	*******************************************
	* MEDIUM SCREENS BETWEEN 640PX AND 1024PX *
	*******************************************
	-->
	
	<div class="show-for-medium hide-for-large">
		
		<!-- Logo, Buttons, and Languages -->
		
		<div class="row">
			<div class="medium-5 columns">
				<a href="index.html"><img src="../assets/img/reframe-logo.svg" alt="ReFrame" class="logo"></a>
			</div>
			<div class="small-7 columns">
				<ul class="dropdown menu buttons float-right" data-dropdown-menu>
					<li>
						<a href="#" class="languages"><img src="../assets/img/world-icon-final-01.svg" alt="Languages" class="world-icon"></a>
						<ul class="menu vertical">
							<li><a href="#">English</a></li>
							<li><a href="#">French</a></li>
							<li><a href="#">Spanish</a></li>
							<li><a href="#">Chinese</a></li>
							<li><a href="#">Korean</a></li>
							<li><a href="#">Portuguese</a></li>
						</ul>
					</li>
					<li><a href="blog.html" class="button blog violet-red">Blog</a></li>
					<li><a href="https://reframe.myshopify.com" class="button call-to-action">Buy ReFrame</a></li>
				</ul>
			</div>
		</div>
		
		<!-- Main Nav -->
		<div class="row collapse">
			<div class="small-12 columns">
				<ul class="dropdown menu simple main" data-dropdown-menu>
        			<li><a href="episodes.html">Episodes</a></li>
					<li class="hide-for-small-only"><a href="lead.html">Lead a Group</a></li>
					<li class="hide-for-medium"><a href="lead.html">Lead</a></li>
					<li><a href="speakers.html">Speakers</a></li>
					<li><a href="stories.html">Stories</a></li>
					<li class="more">
        				<div id="more-menu-bar" class="more-bar" data-responsive-toggle="more-menu" data-hide-for="xsmall">
	        				<button type="button" data-toggle="more-menu">More <i class="fa fa-caret-down" aria-hidden="true"></i></button> 	
						</div>
					</li>   
				</ul>
			</div>
		</div>
		
		
	</div>
	
	<!-- 	 
	******************************
	* LARGE SCREENS ABOVE 1024PX *
	******************************
	-->
	
	<div class="row show-for-large">
		<div class="large-3 columns">
			<a href="index.html"><img src="../assets/img/reframe-logo.svg" alt="ReFrame" class="logo"></a>
		</div>
		<div class="large-6 columns">
			<ul class="dropdown menu simple main" data-dropdown-menu>
        		<li><a href="episodes.html" data-toggle="epList">Episodes</a></li>
				<li><a href="lead.html">Lead</a></li>
				<li><a href="speakers.html">Speakers</a></li>
				<li><a href="stories.html">Stories</a></li>
				<li class="more">
        			<div id="more-menu-bar" class="more-bar" data-responsive-toggle="more-menu" data-hide-for="xsmall">
	        			<button type="button" data-toggle="more-menu">More <i class="fa fa-caret-down" aria-hidden="true"></i></button> 	
	        		</div>
				</li>   
      		</ul>
		</div>
		<div class="large-3 columns">
			<ul class="dropdown menu buttons float-right" data-dropdown-menu>
			<li>
				<a href="#" class="languages"><img src="../assets/img/world-icon-final-01.svg" alt="Languages" class="world-icon"></a>
				<ul class="menu vertical">
					<li><a href="#">English</a></li>
					<li><a href="#">French</a></li>
					<li><a href="#">Spanish</a></li>
					<li><a href="#">Chinese</a></li>
					<li><a href="#">Korean</a></li>
					<li><a href="#">Portuguese</a></li>
				</ul>
			</li>
			<li><a href="blog.html" class="button blog violet-red">Blog</a></li>
			<li><a href="https://reframe.myshopify.com" class="button call-to-action">Buy</a></li>
		</ul>
		</div>
	</div>
	
	<div class="row column second-nav show-for-medium expanded" id="more-menu">
		<ul class="menu simple">
			<li><a href="lead.html">Lead a Group</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">After ReFrame</a></li>
			<li><a href="#">FAQs</a></li>
			<li><a href="#">Donate</a></li>
		</ul>
	</div>

</nav>