<nav>
	<div class="logo">
		<div class="flag edge--bottom">
			<ul>
				<li><img src="/assets/img/regent-logo.svg" alt="Regent College Summer Programs" /></li>
				<li><h1>Summer Programs</h1></li>
			</ul>
		</div>
	</div>
	<div class="main-nav">
		<ul class="menu"  data-toggler data-responsive-menu="drilldown medium-dropdown">
			<li>
			    <a href="courses.html">Courses</a>
			    <ul class="menu edge--bottom" data-animate="slide-in-down slide-out-up">
			    	<li><a href="#">All Courses</a></li>
					<li><a href="#">Scripture</a></li>
					<li><a href="#">Theology</a></li>
					<li><a href="#">Preaching & Worship</a></li>
					<li><a href="#">Arts</a></li>
					<li><a href="#">Spiritual Practices</a></li>
					<li><a href="#">History & Culture</a></li>
					<li><a href="#">Marketplace Leadership</a></li>
					<li><a href="#">En Route</a></li>
			    </ul>
			    </li>
			<li>
		  		<a href="faculty-list.html">Faculty</a>
			    <ul class="menu edge--bottom">
			      <li><a href="#">Item 2A</a></li>
			      <li><a href="#">Item 2B</a></li>
			    </ul>
			</li>
			<li>
				<a href="events.html">Events</a>
				<ul class="menu edge--bottom">
					<li><a href="#">Item 3A</a></li>
					<li><a href="#">Item 3B</a></li>
		    	</ul>
			</li>
			<li>
				<a href="getting_here.html">Campus</a>
			    <ul class="menu edge--bottom">
			      <li><a href="#">Item 3A</a></li>
			      <li><a href="#">Item 3B</a></li>
			    </ul>
			</li>
			<li>
				<a href="registration.html">Registration</a>
			    <ul class="menu edge--bottom">
			      <li><a href="#">Item 3A</a></li>
			      <li><a href="#">Item 3B</a></li>
			    </ul>
			</li>
		</ul>
	</div>
<!--
	<div class="main-nav">
		<ul class="menu" data-responsive-menu="drilldown medium-dropdown">
			<li>
			    <a href="courses.html">Courses</a>
			    <ul class="menu edge--bottom">
			    	<li><a href="#">All Courses</a></li>
					<li><a href="#">Scripture</a></li>
					<li><a href="#">Theology</a></li>
					<li><a href="#">Preaching & Worship</a></li>
					<li><a href="#">Arts</a></li>
					<li><a href="#">Spiritual Practices</a></li>
					<li><a href="#">History & Culture</a></li>
					<li><a href="#">Marketplace Leadership</a></li>
					<li><a href="#">En Route</a></li>
			    </ul>
			    </li>
			<li>
		  		<a href="#">Faculty</a>
			    <ul class="menu edge--bottom">
			      <li><a href="#">Item 2A</a></li>
			      <li><a href="#">Item 2B</a></li>
			    </ul>
			</li>
			<li>
				<a href="#">Events</a>
				<ul class="menu edge--bottom">
					<li><a href="#">Item 3A</a></li>
					<li><a href="#">Item 3B</a></li>
		    	</ul>
			</li>
			<li>
				<a href="#">Campus</a>
			    <ul class="menu edge--bottom">
			      <li><a href="#">Item 3A</a></li>
			      <li><a href="#">Item 3B</a></li>
			    </ul>
			</li>
			<li>
				<a href="#">Registration</a>
			    <ul class="menu edge--bottom">
			      <li><a href="#">Item 3A</a></li>
			      <li><a href="#">Item 3B</a></li>
			    </ul>
			</li>
		</ul>
	</div>
-->
	<div class="regent-main-link">
		<a href="http://www.regent-college.edu">Regent College Main Site</a>
	</div>
</nav>




	