<svg xmlns="http://www.w3.org/2000/svg" width="33" height="30" viewBox="0 0 33.4 30.3" class="circle-icon">
<!--
<style>
  .a{
    fill:#ffffff;
  }
</style>
-->
      <path d="M144.6 5.4c-0.2-0.1-0.4-0.2-0.6-0.1L136.6 8l-4.3-1.5c1-2.1 1.8-4.2 1.8-5.3 0-2.8-2.3-5.1-5.1-5.1s-5.1 2.3-5.1 5.1c0 1.1 0.8 3.3 1.8 5.3l-4.5 1.6 -7.5-2.7c-0.2-0.1-0.5 0-0.6 0.1 -0.2 0.1-0.3 0.3-0.3 0.6v16.4c0 0.3 0.2 0.6 0.5 0.7l7.6 2.7c0.1 0 0.2 0 0.2 0 0 0 0.1 0 0.1 0 0 0 0.1 0 0.1 0 0.1 0 0.2 0 0.2 0l7.5-2.7 7.5 2.7c0 0 0 0 0 0 0 0 0.1 0 0.1 0 0 0 0 0 0 0 0 0 0.1 0 0.1 0s0.1 0 0.1 0c0 0 0 0 0 0 0 0 0.1 0 0.1 0 0 0 0 0 0 0l7.6-2.7c0.3-0.1 0.5-0.4 0.5-0.7V6C144.9 5.8 144.8 5.6 144.6 5.4M128.9-2.6c2 0 3.7 1.7 3.7 3.7 0 1.6-2.3 6.2-3.7 8.8 -1.4-2.6-3.7-7.2-3.7-8.8C125.2-0.9 126.9-2.6 128.9-2.6M120.3 24.2l-6.2-2.2V7l6.2 2.2V24.2zM121.9 24.2V9.2l4.3-1.5c0.8 1.6 1.5 3 1.9 3.7v10.6L121.9 24.2zM129.6 11.6c0.3-0.6 1.1-2.1 2-3.8l4.2 1.5v14.9l-6.2-2.2V11.6zM143.5 21.9l-6.2 2.2V9.2l6.2-2.2V21.9z" class="a"/>
      <path d="M130.6 1.3c0-0.9-0.7-1.7-1.7-1.7s-1.7 0.7-1.7 1.7c0 0.9 0.8 1.7 1.7 1.7S130.6 2.2 130.6 1.3" class="a"/>
      <path d="M86.8-3.4c0.3 0 0.5 0 0.8 0 2 0.2 3.5 1 4.6 2.1 1.1 1.1 1.9 2.6 2 4.6 0 0.2 0 0.5 0 0.7 0 0 0 0 0 0 -0.2 3.1-1.9 5.1-4.2 6.1 -1.3 0.5-3 0.7-4.4 0.4 -2.6-0.6-4.6-2.6-5.2-5.2 -0.4-1.5-0.2-3.2 0.4-4.4C81.7-1.5 83.7-3.1 86.8-3.4zM85.2-1.6c-1.5 0.6-2.5 1.7-3.1 3.1C81.6 2.6 81.5 3.9 81.8 5c0.5 2.1 2.1 3.6 4.2 4 1.2 0.3 2.4 0.1 3.5-0.4 1.7-0.8 3.2-2.5 3.2-5 0-1.8-0.8-3.1-1.7-3.9 -0.9-0.9-2.4-1.7-4.1-1.5C86.3-1.9 85.7-1.8 85.2-1.6z" class="a"/>
      <path d="M86 1.3c0.7 0 1.4 0 2 0 0 1.7 0 3.4 0 5.1 -0.4 0-0.9 0-1.3 0 0-1.3 0-2.7 0-4 -0.2 0-0.5 0-0.7 0C86 2.1 86 1.6 86 1.3z" class="a"/>
      <path d="M58.1 23.9c0-6.7 0-13.5 0-20.2 0.2-0.7 0.9-0.5 1.7-0.5 5.8 0 11.5 0 17.3 0 0.5 0 0.9-0.1 1.2 0 0.7 0.2 0.6 1.4-0.1 1.5 -0.3 0.1-0.7 0-1 0 -5.3 0-10.9 0-16.1 0 4 3.4 8 6.9 12.1 10.2 1.9-1.6 4-3.4 6-5.1 0.3-0.2 0.6-0.6 1-0.6 0.5 0 0.8 0.4 0.7 0.9 -0.1 0.4-0.6 0.7-0.9 1 -1 0.9-2 1.7-3 2.5 2.9 2.4 5.9 4.9 8.8 7.4 0.3 0.3 0.7 0.7 1.1 0.9 0.1 0.1 0.1 0.1 0.1 0 0.1-0.2 0-0.8 0-1.2 0-2.5 0-4.7 0-7.1 0-0.9 0-1.5 0.7-1.6 1-0.1 0.9 1 0.9 1.9 0 2.9 0 5.6 0 8.5 0 0.5 0.1 1.1 0 1.4 -0.1 0.2-0.4 0.6-0.7 0.7 -0.5 0.1-1.2 0-1.8 0 -8.6 0-17.1 0-25.7 0 -0.6 0-1.4 0.1-1.8 0C58.4 24.5 58.2 24.2 58.1 23.9zM60.8 20.9c2.6-2.3 5.3-4.4 8-6.6 0.1-0.1 0.6-0.5 0.6-0.5 0 0-0.2-0.2-0.3-0.2 -3.1-2.7-6.3-5.4-9.4-8 0 0 0 0 0 0 0 5.5 0 10.9 0 16.4C60 21.6 60.4 21.2 60.8 20.9zM74.1 16.2c-0.2 0.2-0.5 0.4-0.7 0.4 -0.4 0.1-0.6-0.2-0.9-0.4 -0.7-0.6-1.2-1.1-1.9-1.6 -3.2 2.7-6.5 5.5-9.7 8.1 -0.1 0.1-0.3 0.2-0.2 0.3 8.5 0 17 0 25.5 0 -0.1-0.2-0.4-0.4-0.6-0.5 -3.2-2.6-6.4-5.4-9.5-8C75.4 15.1 74.7 15.7 74.1 16.2z" class="a"/>
      <path d="M0.7 0c8.4 0 16.7 0 25.1 0 0.3 0.1 0.6 0.3 0.7 0.7 0.1 0.6 0 1.3 0 2.1 0 0.4 0 0.7 0 1 0 0.8 0 1.3-0.4 1.5 -0.5 0.3-1.1 0-1.2-0.5 -0.1-0.4 0-1 0-1.6 0-0.5 0-1.1 0-1.6C17.2 1.6 9.4 1.7 1.7 1.7c0 8.9 0 18 0 26.9 5.6 0 11.3 0 16.9 0 0.4 0 0.9 0.1 1.2 0 0.2 0 0.5-0.4 0.7-0.6 1.3-1.3 2.6-2.6 3.8-3.8 0.2-0.2 0.6-0.5 0.6-0.7 0.1-0.4 0-0.9 0-1.3 0-2.6 0-5.1 0-7.8 0-0.4-0.1-0.9 0.1-1.2 0.3-0.7 1.3-0.7 1.6 0 0.1 0.3 0 0.9 0 1.3 0 2.8 0 5.5 0 8.2 0 0.5 0.1 1.2 0 1.5 -0.1 0.3-0.5 0.6-0.7 0.8 -1.5 1.5-3 3-4.5 4.5 -0.2 0.2-0.6 0.6-0.9 0.7 -0.3 0.1-0.8 0-1.2 0 -5.8 0-11.6 0-17.3 0 -0.9 0-1.7 0.1-1.9-0.7 0-9.6 0-19.2 0-28.9C0.1 0.3 0.3 0.1 0.7 0z" class="a"/>
      <path d="M20.3 13.2c3.7-3.6 7.5-7.5 11.3-11.3 0.3-0.3 0.6-0.6 0.9-0.7 0.7-0.1 1 0.4 0.9 1 -0.1 0.3-0.4 0.6-0.7 0.9 -3.8 3.8-7.5 7.5-11.3 11.3 -0.3 0.3-0.6 0.8-1.1 0.7 -0.3 0-0.6-0.3-0.8-0.6 -1.4-1.4-2.7-2.7-4.1-4.1 -0.2-0.2-0.5-0.5-0.6-0.8 -0.1-0.7 0.4-1.1 1-1 0.5 0.1 0.9 0.7 1.2 1C18.1 11 19 12 20.3 13.2z" class="a"/>
      <path d="M8.6 4.3c1.4-0.1 2.5 0.7 3 1.7 0.2 0.4 0.3 0.8 0.3 1.2 0.1 1.1-0.3 1.8-0.8 2.3 -0.5 0.5-1.2 1-2.1 1 -0.9 0.1-1.8-0.3-2.4-0.8 -0.6-0.5-0.9-1.1-1-2.1C5.5 6.6 5.9 5.8 6.4 5.3 6.9 4.8 7.6 4.3 8.6 4.3zM8 6.2C7.4 6.5 7 7.4 7.4 8.1c0.6 1.1 2.4 0.9 2.7-0.3 0.3-1.1-0.6-2-1.6-1.9C8.3 6 8.1 6.1 8 6.2z" class="a"/>
      <path d="M8.2 11c1.9-0.1 3.2 0.6 4 1.4 0.7 0.7 1.2 1.5 1.4 2.7 0.1 0.7 0.2 1.5-0.4 1.7 -0.4 0.2-1.6 0.1-2.3 0.1 -1.7 0-2.9 0-4.7 0 -1 0-2.3 0.2-2.6-0.5 -0.1-0.3-0.1-0.8 0-1.1 0.3-1.8 1.2-2.9 2.5-3.7C6.7 11.2 7.4 11 8.2 11zM8.6 12.6c-1.8 0-2.8 1.1-3.2 2.5 2.2 0 4.4 0 6.5 0C11.5 13.7 10.4 12.6 8.6 12.6z" class="a"/>
      <path d="M4.5 19.8c0.6-0.1 1.5 0 2.2 0 3.7 0 7.3 0 11.1 0 0.7 0 1.3 0 2.2 0 1.1 0 2.9-0.3 2.6 1 -0.2 0.9-1.5 0.6-2.6 0.6 -4.5 0-9 0-13.7 0 -1.2 0-2.8 0.3-2.6-1C3.8 20.1 4.1 19.8 4.5 19.8z" class="a"/>
      <path d="M4.5 24c0.5-0.1 1.3 0 1.8 0 3.6 0 7.1 0 10.8 0 1 0 2.1-0.2 2.2 0.7 0.1 0.4-0.1 0.8-0.5 0.9 -0.4 0.2-1.2 0.1-1.8 0.1 -3.7 0-7.2 0-11 0 -0.6 0-1.4 0.1-1.8-0.1C3.5 25.3 3.7 24.2 4.5 24z" class="a"/>
</svg>
