<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
  <defs>
    <style>
      .cls-1{fill:#b0b4b5;}.cls-2{fill:#fff;}
    </style>
  </defs>
  <title>
    chapel
  </title>
  <circle class="cls-1" cx="250" cy="249.49" r="223.82"/>
  <path class="cls-2" d="M337.16 279.68a5.84 5.84 0 0 0-4 1.69L321.51 293a5.82 5.82 0 0 0-1.71 4.11v23.27a5.82 5.82 0 0 0 5.82 5.82h23.27a5.82 5.82 0 0 0 5.82-5.82v-23.26A5.82 5.82 0 0 0 353 293l-11.63-11.64a5.81 5.81 0 0 0-4.21-1.69zm.09 14l5.81 5.83v15h-11.62v-15l5.82-5.82zM185.9 204a5.82 5.82 0 0 0-4 1.72l-69.72 69.78a5.82 5.82 0 0 0 8.06 8.4l.17-.17 66.31-66.37 13.47 9a5.82 5.82 0 0 0 6.61-9.57l-.16-.11L189.2 205a5.84 5.84 0 0 0-3.31-1z"/>
  <path class="cls-2" d="M250.16 169.16a5.83 5.83 0 0 0-4.42 1.86L176 246.59a5.82 5.82 0 0 0 8.23 8.22c.11-.11.21-.22.31-.34L250 183.54l65.47 70.93a5.82 5.82 0 1 0 8.85-7.56c-.1-.11-.2-.22-.31-.33L254.28 171a5.83 5.83 0 0 0-4.12-1.84z"/>
  <path class="cls-2" d="M311.81 204.06a5.79 5.79 0 0 0-3.1 1l-15.37 10.47a5.82 5.82 0 0 0 6.54 9.62l11.45-7.8 68.34 66.43a5.82 5.82 0 0 0 8.24-8.21l-.13-.13L316 205.69a5.84 5.84 0 0 0-4.19-1.63z"/>
  <path class="cls-2" d="M127.78 262.22a5.82 5.82 0 0 0-5.73 5.91v87.17a5.82 5.82 0 0 0 5.82 5.82h244.28a5.82 5.82 0 0 0 5.85-5.82v-87.09a5.82 5.82 0 0 0-11.63-.16v81.43H133.69v-81.35a5.82 5.82 0 0 0-5.73-5.91z"/>
  <path class="cls-2" d="M197.57 227.33a5.81 5.81 0 0 0-5.72 5.9v122a5.82 5.82 0 1 0 11.63.16 1.56 1.56 0 0 0 0-.16v-122a5.81 5.81 0 0 0-5.73-5.9zM249.92 215.7a5.8 5.8 0 0 0-4 1.69L234.27 229a5.82 5.82 0 0 0-1.7 4.11V268a5.82 5.82 0 0 0 5.81 5.82h23.27a5.82 5.82 0 0 0 5.82-5.82v-34.9a5.81 5.81 0 0 0-1.7-4.11l-11.63-11.64a5.81 5.81 0 0 0-4.2-1.69zm.09 14l5.82 5.83v26.66H244.2v-26.64zM250.16 291.32a5.79 5.79 0 0 0-4 1.45l-17.46 15.49a5.82 5.82 0 0 0-2 4.35v42.6a5.82 5.82 0 1 0 11.63.16 1.17 1.17 0 0 0 0-.16v-40l11.67-10.3 11.63 10.32v40a5.82 5.82 0 1 0 11.63.16v-42.78a5.82 5.82 0 0 0-2-4.35l-17.45-15.49a5.82 5.82 0 0 0-3.65-1.45zM249.92 111a5.82 5.82 0 0 0-5.72 5.9v58a5.82 5.82 0 1 0 11.63.16v-58.18a5.82 5.82 0 0 0-5.74-5.9zM162.68 279.68a5.84 5.84 0 0 0-4 1.69L147 293a5.81 5.81 0 0 0-1.71 4.11v23.27a5.82 5.82 0 0 0 5.82 5.82h23.29a5.82 5.82 0 0 0 5.82-5.82v-23.26a5.82 5.82 0 0 0-1.71-4.11l-11.63-11.64a5.8 5.8 0 0 0-4.2-1.69zm.09 14l5.81 5.83v15H157v-15zM302.27 227.33a5.81 5.81 0 0 0-5.72 5.9v122a5.82 5.82 0 1 0 11.63.16V233.23a5.81 5.81 0 0 0-5.74-5.9z"/>
  <path class="cls-2" d="M273.2 128.43h-46.37a5.82 5.82 0 0 0-.19 11.63h46.56a5.82 5.82 0 0 0 .18-11.63z"/>
</svg>