<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
  <defs>
    <style>
      .cls-1{fill:#b0b4b5;}.cls-2{fill:#fff;}
    </style>
  </defs>
  <title>
    lunch
  </title>
  <circle class="cls-1" cx="250" cy="248.63" r="222.68"/>
  <path class="cls-2" d="M379.57 150.3a16.05 16.05 0 0 0-13.47-10.55c-6.78-.68-25.34 10.18-35.8 16.71a343.67 343.67 0 0 0-60 47.63l-49 49a16 16 0 0 0 0 22.64l.23.23-67.29 67.28a16 16 0 0 0 22.64 22.64L375.82 167a16.12 16.12 0 0 0 3.75-16.7zM168.64 216.74c.07.08.13.18.21.26a30.88 30.88 0 0 0 28.26 8.33l17.58 17.58L237 220.6l-16.72-16.72a30.86 30.86 0 0 0-7.75-30.57c-.08-.08-.18-.14-.27-.21a2.12 2.12 0 0 0-.21-.26l-49-49a5.26 5.26 0 1 0-7.44 7.44l45.49 45.49a3.28 3.28 0 1 1-4.65 4.64L151 135.93a5.26 5.26 0 0 0-7.44 7.44l45.44 45.5a3.28 3.28 0 0 1-4.64 4.64L138.9 148a5.26 5.26 0 0 0-7.44 7.44L177 200.95a3.28 3.28 0 1 1-4.64 4.64l-45.54-45.49a5.26 5.26 0 1 0-7.44 7.44l49 49c.07.07.17.13.26.2zM287.86 271.31l-22.64 22.64 70.33 70.33a16 16 0 1 0 22.63-22.64z"/>
</svg>