<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
  <defs>
    <style>
      .cls-1{fill:#b0b4b5;}.cls-2{fill:#fff;stroke:#fff;stroke-miterlimit:10;}
    </style>
  </defs>
  <title>
    reframe-lunch-learn
  </title>
  <circle class="cls-1" cx="250" cy="249.1" r="223.54"/>
  <path class="cls-2" d="M136.2 252.38c3.94-.48 5.86-4.82 5.86-13.24 0-6.64-1.13-9-3.21-11.11-1.88-1.88-4.35-2.25-7.72-2.25h-22.79a.77.77 0 0 0-.77.76v22.79H88.36a.76.76 0 0 0-.76.76V252a.77.77 0 0 0 .76.76h19.22v21.87a.76.76 0 0 0 .77.76h2a.76.76 0 0 0 .76-.76v-21.85h21.45L143.87 275a.76.76 0 0 0 .68.41h2.24a.75.75 0 0 0 .64-.37.76.76 0 0 0 0-.74zm-4.82-3.11h-20.32v-20.01h20.07c2.72 0 4.3.42 5.29 1.41s2.15 2.17 2.15 8.47c0 6.47-1.19 8.68-2.18 9.38s-3 .72-5 .75M351.87 225.77h-2.68a3.17 3.17 0 0 0-2.52 1.46l-16.6 22.31-16.58-22.3a2.94 2.94 0 0 0-2.56-1.48h-2.58a.76.76 0 0 0-.76.77v51l-23.61-50a3.32 3.32 0 0 0-3.41-2h-.68a3.12 3.12 0 0 0-3.33 2.06l-20.63 44.28-10-19.53c3.94-.48 5.86-4.82 5.86-13.24 0-6.64-1.13-9-3.2-11.11-1.89-1.88-4.36-2.25-7.73-2.25h-22.8a.76.76 0 0 0-.76.77v22.75h-16.7v-57.55h24.84a.77.77 0 0 0 .76-.77v-2a.76.76 0 0 0-.76-.76h-27.59a.76.76 0 0 0-.76.76v60.32h-39.35v-20h25.48a.76.76 0 0 0 .76-.76v-2a.77.77 0 0 0-.76-.77H155a.76.76 0 0 0-.76.77v48.12a.75.75 0 0 0 .76.76h28.09a.75.75 0 0 0 .76-.76v-2a.76.76 0 0 0-.76-.76h-25.35v-19.11h39.37v58a.77.77 0 0 0 .77.76h2a.76.76 0 0 0 .54-.23.74.74 0 0 0 .22-.54v-58h16.7v21.91a.76.76 0 0 0 .76.76h2a.76.76 0 0 0 .76-.76v-21.87h21.45L254 276l-3.12 6.7a.77.77 0 0 0 0 .73.76.76 0 0 0 .64.35h2.18a.76.76 0 0 0 .69-.44l12.46-27 1.66-3.53h23.5l1.9 3.93 16.43 35.12 4.28 9.15a.77.77 0 0 0 .69.44h2.28a.76.76 0 0 0 .65-.35.79.79 0 0 0 0-.73l-4.15-8.79-3.11-6.6V230l16.4 21.72c.65.84 1.22 1.58 2.29 1.65h.67c.89-.07 1.26-.49 2-1.43L349.08 230v44.67a.76.76 0 0 0 .76.76h2a.76.76 0 0 0 .76-.76v-48.14a.76.76 0 0 0-.76-.77M241.1 249.27h-20.32v-20.01h20.07c2.71 0 4.29.42 5.28 1.4s2.16 2.18 2.16 8.48c0 6.47-1.19 8.68-2.18 9.38s-3 .72-5 .75m29.14.06l9.55-20.25h.92l9.74 20.26zM394.07 249.51a.78.78 0 0 0-.54-.22H367v-20h25.5a.76.76 0 0 0 .76-.76v-2a.77.77 0 0 0-.76-.76h-28.18a.77.77 0 0 0-.77.76v48.12a.76.76 0 0 0 .77.76H411a.76.76 0 0 0 .76-.76v-2a.76.76 0 0 0-.76-.76h-44v-19.14h26.5a.76.76 0 0 0 .76-.76V250a.77.77 0 0 0-.22-.54"/>
</svg>