<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" class="circle-icon">
  <defs>
    <style>
      .cls-1{fill:#b0b4b5;}.cls-2{fill:#fff;}
    </style>
  </defs>
  <title>
    welcome-coffee
  </title>
  <circle class="cls-1" cx="248.91" cy="248.84" r="224.77"/>
  <path class="cls-2" d="M188.35 196.23h-8.93a5.67 5.67 0 1 0 0 11.34h8.93a5.67 5.67 0 0 0 0-11.34z"/>
  <path class="cls-2" d="M377.61 259.09c0-27.74-3.29-42.28-11.37-50.17-8.34-8.16-20.28-7.88-35.37-7.54h-1.37a18.67 18.67 0 0 0-14-31.1H162.93a18.71 18.71 0 0 0-8.61 35.33c0 .72-.07 1.45-.07 2.17v121.35c0 18.66 11.12 30.07 32.93 33.92.91.18 22.7 4.39 53 4.47a294.75 294.75 0 0 0 51.21-4.5c20.72-4.7 31.68-15.28 32.67-31.46 48.22-2.56 53.55-51.23 53.55-72.47zm-53.41-28c2.95-.06 5.62-.19 8-.32 6-.3 10.65-.54 12.26 1 3.25 3.09 3.67 16.92 3.67 28.62 0 30.67-8.39 38.86-23.95 41.18zm-11.34 98c0 8.1-2.72 18-23.76 22.79a289.56 289.56 0 0 1-48.87 4.25 300.76 300.76 0 0 1-51-4.27c-20.85-3.67-23.67-13.57-23.67-22.77V207.81a22.86 22.86 0 0 1 .52-4.78 5.67 5.67 0 0 0-4.52-6.76 7.37 7.37 0 0 1 1.34-14.61h152.61a7.36 7.36 0 0 1 1.49 14.58H204.75a5.67 5.67 0 1 0 0 11.34h108.09v.24zm11.34-9V313c25-3.19 35.29-18.58 35.29-52.57 0-22.71-1.75-31.67-7.19-36.84-5.14-4.88-12-4.53-20.65-4.08-2.24.12-4.77.22-7.45.27v-6.91c2.4 0 4.73-.07 6.93-.13 13.4-.3 22.26-.51 27.18 4.31 5.5 5.38 8 18.35 8 42.06-.05 38.17-14.59 59.15-42.12 61.04zM231.81 148.69a15.6 15.6 0 0 0 7.71 10.78 4.25 4.25 0 0 0 5.81-1.52 4.26 4.26 0 0 0-1.52-5.82 7.23 7.23 0 0 1-3.61-4.85c-.48-2.82 1.27-5.56 2.82-7.37 7.68-9 2.13-18.68-1.87-22.55a4.25 4.25 0 1 0-5.91 6.11c.59.58 5.7 5.78 1.32 10.9-4.94 5.78-5.31 10.97-4.75 14.32zM264.75 148.69a15.6 15.6 0 0 0 7.71 10.78 4.25 4.25 0 0 0 5.82-1.52 4.25 4.25 0 0 0-1.53-5.82 7.24 7.24 0 0 1-3.61-4.85c-.48-2.82 1.27-5.56 2.82-7.37 7.68-9 2.13-18.68-1.87-22.55a4.25 4.25 0 1 0-5.91 6.11c.6.58 5.7 5.78 1.32 10.9-4.94 5.78-5.31 10.97-4.75 14.32zM198.88 148.69a15.63 15.63 0 0 0 7.7 10.79 4.25 4.25 0 0 0 4.29-7.34 7.25 7.25 0 0 1-3.61-4.85c-.47-2.82 1.27-5.56 2.81-7.37 7.68-9 2.13-18.68-1.87-22.55a4.25 4.25 0 1 0-5.91 6.11c.59.58 5.7 5.78 1.32 10.9-4.93 5.77-5.3 10.96-4.73 14.31z"/>
</svg>
