	<div class="off-canvas position-right" id="mobileNav" data-off-canvas data-transition="overlap">
		
		<!-- Close button -->
		<button class="close-button" aria-label="Close menu" type="button" data-close style="z-index: 100">
			<span aria-hidden="true">&times;</span>
		</button>

		<!-- Menu -->
	    <ul class="vertical menu accordion-menu" data-accordion-menu>
			<li>
				<a href="#">Course Subjects</a>
				<ul class="menu vertical nested">
					<li><a href="#">Scripture</a></li>
					<li><a href="#">Theology</a></li>
					<li><a href="#">Ministry & Worship</a></li>
					<li><a href="#">Arts</a></li>
					<li><a href="#">Spiritual Practices</a></li>
					<li><a href="#">History & Culture</a></li>
					<li><a href="#">Marketplace Leadership</a></li>
					<li><a href="#">En Route</a></li>
					<li><a href="#">Biblical Languages</a></li>
				</ul>
			</li>
			<li><a href="#">Course Timetable</a></li>
			<li class="medium560-off"><a href="#">Faculty</a></li>
			<li><a href="#">Events Calendar</a></li>
			<li><a href="#">Public Lectures</a></li>
			<li><a href="#">About</a>
				<ul class="menu vertical nested">
					<li><a href="#">Summer Programs</a></li>
					<li><a href="#">Our Campus</a></li>
					<li><a href="#">Housing</a></li>
					<li><a href="#">Stay Informed</a></li>
				</ul>
			</li>
			<li class="medium560-off"><a href="#">FAQ</a></li>
			<li><a href="#" class="regent-link">Regent College Main Site</a></li>
	    </ul>
	    
	</div>