<div class="sidebar-highlight course">
	<div class="sidebar-highlight-image">
	  	<img src="http://www.regent-college.edu/system/people/146/images/event/David-Ley.jpg" alt="andrew_loke" width="240" height="359" />
	</div>
	<div class="sidebar-highlight-text edge--top">
		<div class="title">Faith & Science: Exploring the Connections</div>
		<div class="date">June 5–9</div>
	</div>
</div>