<!--
<div class="sidebar-highlight event">
	<div class="sidebar-highlight-image">
		<img src="../assets/img/SummerRetreat_Square.jpg" alt="Summer Retreat" width="240" height="230" />
	</div>
	<div class="sidebar-highlight-text edge--top">
		<div class="title">Summer Prayer Retreat: Abiding & Going Forth with Jesus</div>
		<div class="date">July 17</div>
	</div>
</div>
-->

<div class="row">
		<div class="small-6 medium-12 columns">
			<a href="http://www.regent-college.edu/lifelong-learning/conferences/pastors-leaders-conference-2017">
				<div class="sidebar-highlight event">
					<div class="sidebar-highlight-image">
						<img src="http://www.regent-college.edu/system/events/578/vertical_images/original/PC16-240x230-2.jpg" alt="Summer Retreat" width="240" height="230" />
					</div>
					<div class="sidebar-highlight-text edge--top">
						<div class="title">Pastors & Leaders Conference 2017</div>
						<div class="date">May 10–12, 2017</div>
					</div>
				</div>
			</a>
		</div>
		<div class="small-6 medium-12 columns">
			<a href="http://www.regent-college.edu/lifelong-learning/conferences/pastors-leaders-conference-2017">
				<div class="sidebar-highlight event">
					<div class="sidebar-highlight-image">
						<img src="http://www.regent-college.edu/system/people/146/images/event/David-Ley.jpg" alt="Summer Retreat" width="240" height="230" />
					</div>
					<div class="sidebar-highlight-text edge--top">
						<div class="title">Postmodern Urban Spaces: A City Tour</div>
						<div class="date">July 22, 2017</div>
					</div>
				</div>
			</a>
		</div>
	</div>