{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regent College Summer Programs</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/55619c75-e4ab-4258-9c5f-bcde37cf69cc.css"/>
    <link href="http://addtocalendar.com/atc/1.5/atc-style-blue.css" rel="stylesheet" type="text/css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>
  
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    
    {{> off-canvas}}
    
	<div class="off-canvas-content" data-off-canvas-content>
	<header>
	    {{> header}}
    </header>
    <section class="banner-image">
	    
    </section>
    
    <style type="text/css" media="screen">
	    .big-back.home {
			background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), url(../assets/img/2018-reading-cover.jpg);
			background-repeat: no-repeat; 
			background-position: right top; 
			width: 100%; 
			margin: 0;
			padding: 0; 
			position: absolute; 
			z-index: -1; 
			top: 80px; 
			left: 0; 
			background-size: cover; 
			min-height: 600px;
		}
		
		@media only screen and (max-width: 1024px) { 
			.big-back.home {
			
				background-position: right 20% top; 
				width: 100%; 
				background-size: cover; 
				min-height: 550px;
			}
		}
		
		@media only screen and (max-width: 768px) { 
			.big-back.home {
				background: linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,.8)), url(../assets/img/2018-summer-main-web-cover-mobile.jpg);
				background-repeat: no-repeat;  
				top: 80px; 
				background-size: cover; 
				min-height: 550px;
			}
		}
		
		@media only screen and (max-width: 450px) { 
			.big-back.home {
				background: linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,.8)), url(../assets/img/2018-summer-main-web-cover-mobile.jpg);
				background-repeat: no-repeat;  
				top: 80px; 
				background-size: cover; 
				min-height: 700px;
			}
		}
		
		
    </style>
    
    <section class="main-content" id="content">
		{{> body}}    
    </section>
    
    <section class="bottom-menu">
	    
    </section>
		
	</div>
    
    <footer id="footer">
	    {{> footer}}
    </footer>
  </div>
	
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>